Repository cockpit-project/cockpit, pull requests merged in 2018-03, with the labels that each got.

#8734 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#8747 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#8741 bots: Avoid concurrent downloads of the same image
  bots/image-download
Labels: priority

#8750 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#8746 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#8749 Image refresh for rhel-7-4
  bots/images/rhel-7-4
Labels: bot

#8762 bots: Create temporary lock directory if missing
  bots/image-download
Labels: priority

#8765 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8758 package.json: Update moment package dependency
  package.json
Labels: bot

#8766 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot

#8771 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8778 naughty: Close 8369: check-storage-mdraid causes kernel lockup on rhel-7-5
  bots/naughty/rhel-7-5/8369-raid-kernel-lockup
  bots/naughty/rhel-7-5/8369-raid-kernel-lockup-2
Labels: bot

#8783 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#8782 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#8781 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#8784 Image refresh for fedora-26
  bots/images/fedora-26
Labels: bot

#8802 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#8799 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#8796 tasks: Scan cockpit-project/starter-kit for tests
  .tasks
Labels: blocked

#8800 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#8810 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8808 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#8812 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8813 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8824 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#8825 Image refresh for fedora-26
  bots/images/fedora-26
Labels: bot

#8821 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#8819 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#8836 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#8844 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8846 Image refresh for rhel-7-4
  bots/images/rhel-7-4
Labels: bot

#8845 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#8854 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot

#8853 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8852 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8863 naughty: Close 8709: rpm-ostreed: GetCachedUpdateRpmDiff gives wrong information
  bots/naughty/continuous-atomic/8709-rpm-ostreed-broken-rpm-diff
Labels: bot

#8865 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#8877 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#8879 package.json: Update c3 package dependency
  package.json
Labels: bot

#8888 Image refresh for rhel-7-4
  bots/images/rhel-7-4
Labels: bot

#8891 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#8901 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8902 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8896 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#8892 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#8908 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#8889 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#8890 Image refresh for fedora-26
  bots/images/fedora-26
Labels: bot
