Repository cockpit-project/cockpit, pull requests merged in 2018-09, with the labels that each got.

#9953 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#9919 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9960 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9961 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9963 lib/dialog: Log the actual error message, not the object
  pkg/lib/cockpit-components-dialog.jsx
Labels: priority

#9962 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9966 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9895 bots: Test image-refresh pull requests against external projects
  bots/image-refresh
Labels: question

#9954 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9951 ssh: Query known hosts from sssd
  bots/naughty/ubuntu-1604/9487-nsupdate-assert-2
  src/ssh/Makefile-ssh.am
  src/ssh/cockpitsshrelay.c
  src/ssh/mock-bin/sss_ssh_knownhostsproxy
  src/ssh/test-sshbridge.c
  test/verify/check-realms
Labels: test-external

#9972 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot

#9983 bots: Close issue when all tasks done by bots
  bots/task/__init__.py
  bots/task/github.py
  bots/task/test-checklist
Labels: test-external

#9902 storage: Support resizing of LUKSv2
  pkg/storaged/crypto-keyslots.jsx
  pkg/storaged/lvol-tabs.jsx
  test/verify/check-storage-resize
Labels: priority

#9987 tools: Declare bundled JavaScript libraries which are available as packages
  tools/cockpit.spec
  tools/gen-spec-dependencies
Labels: priority

#9997 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9955 Image refresh for debian-testing
  bots/images/debian-testing
  test/verify/check-keys
Labels: bot, unrelated-test-failure

#9999 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10000 bots: Drop fedora-27
  bots/image-refresh
  bots/image-trigger
  bots/images/fedora-27
  bots/images/scripts/fedora-27.bootstrap
  bots/images/scripts/fedora-27.install
  bots/images/scripts/fedora-27.setup
  bots/images/scripts/fedora.setup
  bots/naughty/fedora-27/6108-pcp-pmfindprofile-crash
  bots/naughty/fedora-27/6108-pcp-pmfindprofile-crash-2
  bots/naughty/fedora-27/6108-pcp-pmfindprofile-crash-3
  bots/naughty/fedora-27/6108-pcp-pmfindprofile-crash-4
  bots/naughty/fedora-27/6493-selinux-sosreport-relabelto
  bots/naughty/fedora-27/7635-selinux-pmlogger
  bots/naughty/fedora-27/7635-selinux-pmlogger2
  bots/naughty/fedora-27/7635-selinux-pmsignal
  bots/naughty/fedora-27/8100-selinux-modules.dep.bin
  bots/naughty/fedora-27/8871-selinux-rpcbind
  bots/naughty/fedora-27/8905-nm-bond-autoconnect-slaves
  bots/naughty/fedora-27/8905-nm-bridge-autoconnect-slaves
  bots/naughty/fedora-27/8905-nm-team-autoconnect-slaves
  bots/naughty/fedora-27/9050-openshift-image-registry-whitelist
  bots/naughty/fedora-27/9641-xtermjs-dimensions-crash
  bots/tests-scan
  test/README.md
  test/verify/check-packagekit
  test/verify/check-subscriptions
Labels: test-external

#9990 test: Test real browser file download in check-sosreport
  test/verify/check-sosreport
Labels: unrelated-test-failure

#10004 test: Deal with iptable rules moving around
  test/verify/check-connection
Labels: priority

#10012 test: Update reference for realmd sudo bug
  test/verify/check-realms
Labels: unrelated-test-failure

#10020 common: Fix off by one error in flow control
  src/common/cockpitchannel.c
Labels: priority

#10032 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10033 Image refresh for fedora-atomic
  bots/images/fedora-atomic
  bots/naughty/fedora-atomic/7635-selinux-pmsignal
Labels: bot, test-external

#10035 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10025 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10028 Fix crash when using %00 in a URL
  src/common/cockpitwebresponse.c
  src/common/test-webresponse.c
Labels: priority

#10026 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10034 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10050 naughty: Close 9449: SELinux denies chronyd to read drift file
  bots/naughty/rhel-7/9449-selinux-chronyd-drift
Labels: bot, test-external

#10041 package.json: Update react-bootstrap package dependency
  package.json
Labels: bot

#10044 ovirt flake fix
  test/verify/check-ovirt
Labels: priority

#10061 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10057 test: Kubevirt flake fix
  bots/images/openshift-prerelease
  test/verify/check-openshift
Labels: test-external

#10047 common: Handle use of NULL string in web_response_file
  src/common/cockpitwebresponse.c
  src/common/test-webresponse.c
Labels: priority

#10023 common: Fix off by one error in flow control RHEL 7.6
  src/common/cockpitchannel.c
Labels: priority

#10067 test: Allow using a graphics console with any vm-run image
  bots/machine/testvm.py
  test/vm-run
Labels: test-external

#10072 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10070 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#10076 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10002 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10075 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10083 tools: Reduce system-logos to a Recommends
  tools/cockpit.spec
Labels: priority, unrelated-test-failure

#10043 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot, test-external

#10091 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10080 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10085 kubernetes: Drop kubevirt support
  bots/images/scripts/lib/kubevirt.setup
  bots/images/scripts/openshift.setup
  pkg/kubernetes/index.html
  pkg/kubernetes/scripts/kube-client-cockpit.js
  pkg/kubernetes/scripts/kube-client.js
  pkg/kubernetes/scripts/main.js
  pkg/kubernetes/scripts/virtual-machines.js
  pkg/kubernetes/scripts/virtual-machines/action-creators.jsx
  pkg/kubernetes/scripts/virtual-machines/action-types.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmActions.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmDetail.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmDisksTabKubevirt.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmMessage.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmMetricsTab.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmMetricsTab.less
  pkg/kubernetes/scripts/virtual-machines/components/VmOverviewTabKubevirt.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmsListing.jsx
  pkg/kubernetes/scripts/virtual-machines/components/VmsListingRow.jsx
  pkg/kubernetes/scripts/virtual-machines/components/createVmButton.jsx
  pkg/kubernetes/scripts/virtual-machines/components/createVmDialog.jsx
  pkg/kubernetes/scripts/virtual-machines/components/createVmDialog.less
  pkg/kubernetes/scripts/virtual-machines/config.es6
  pkg/kubernetes/scripts/virtual-machines/entry-points/util/initialize.es6
  pkg/kubernetes/scripts/virtual-machines/entry-points/virtual-machine.jsx
  pkg/kubernetes/scripts/virtual-machines/entry-points/virtual-machines.jsx
  pkg/kubernetes/scripts/virtual-machines/kube-middleware.jsx
  pkg/kubernetes/scripts/virtual-machines/reducers.jsx
  pkg/kubernetes/scripts/virtual-machines/selectors.jsx
  pkg/kubernetes/scripts/virtual-machines/store.es6
  pkg/kubernetes/scripts/virtual-machines/types.jsx
  pkg/kubernetes/scripts/virtual-machines/utils.jsx
  pkg/kubernetes/scripts/virtual-machines/watch-metrics.es6
  pkg/kubernetes/views/virtual-machine-page.html
  pkg/kubernetes/views/virtual-machines-page.html
  test/verify/check-openshift
  test/verify/files/mock-kube-vm.json
Labels: test-external

#10099 storage: Validate tang URLs and parse them properly
  pkg/storaged/crypto-keyslots.jsx
Labels: priority

#10094 package.json: Update promise package dependency
  package.json
Labels: bot

#10092 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10102 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10110 bots: Fix stdout usage in tests-data
  bots/tests-data
Labels: test-external

#10112 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10115 bots: Ignore certificate validation when pulling test logs
  bots/tests-data
Labels: bot

#10119 tools: Stop hardcoding the Python 3 package name
  tools/cockpit.spec
Labels: priority

#10108 bots: Fix VirtMachine.pull() to work with normal $PATH
  bots/machine/testvm.py
Labels: test-external

#10135 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#9342 cockpit-components-terminal: change onFocusIn/OnFocusOut to onFocus/onBlur
  pkg/lib/cockpit-components-terminal.jsx
Labels: priority

#10137 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10138 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10144 bots: tests-scan: Descrease priority when needswork label is present
  bots/tests-scan
Labels: test-external

#10141 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10139 Image refresh for rhel-x
  bots/images/rhel-x
Labels: bot, test-external

#10140 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot, test-external

#10150 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10153 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10128 machines: Try connecting as superuser to system libvirt-dbus
  pkg/machines/libvirt-dbus.es6
  test/verify/check-machines-dbus
Labels: blocked

#10114 machines: adjust tests to not require nested kvm
  test/verify/machineslib.py
Labels: priority

#10151 bridge: Fix crash on non-existing D-Bus
  src/bridge/cockpitdbusjson.c
Labels: priority

#10163 bots: Split external projects by public and non-public requirements
  bots/tests-scan
Labels: test-external

#10167 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10155 naughty: Close 8869: Fedora 28: systemd services with DynamicUser=yes fail due to SELinux policy
  bots/naughty/fedora-28/8869-selinux-dynamicuser
  bots/naughty/fedora-29/8869-selinux-dynamicuser
  bots/naughty/rhel-x/8869-selinux-dynamicuser
Labels: bot, test-external

#10181 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external
