Repository cockpit-project/cockpit, pull requests merged in 2018-07, with the labels that each got.

#9549 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9556 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9548 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9557 bots: Add Fedora 27 naughty override for modules.dep.bin SELinux denial
  bots/naughty/fedora-27/8100-selinux-modules.dep.bin
Labels: priority

#9559 test: Fix flake in check-realms
  test/verify/check-realms
Labels: priority

#9568 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9582 test: Robustify filterOutput() for non-ASCII characters
  test/common/testlib.py
Labels: priority

#9588 bots: Run various tasks in verbose mode by default
  bots/issue-scan
Labels: bot

#9597 bots: Adjust rhel-x naughty override for Python 3
  bots/naughty/rhel-x/8881-systemd-coredump-wrongargs
Labels: priority

#9564 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot

#9563 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9536 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9565 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9599 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9600 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9602 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9533 packagekit: improved automatic updates layout
  pkg/packagekit/autoupdates.jsx
  pkg/packagekit/updates.less
Labels: accessibility, enhancement, mobile

#9614 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9615 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9370 packagekit, mobile: optimize updates list widths
  pkg/packagekit/updates.less
Labels: enhancement, mobile

#9618 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9620 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9625 tools: Fix smoke test for RPM based systems
  tools/debian/tests/smoke
Labels: priority

#9632 naughty: Close 8855: Fedora 28: kubelet.service fails to start
  bots/naughty/fedora-28/8855-kubelet-failure
  bots/naughty/fedora-28/8855-kubelet-failure-2
  bots/naughty/fedora-28/8855-kubelet-failure-3
Labels: bot, test-external

#9631 naughty: Close 9282: Docker resource limits regression: applying cgroup configuration for process caused "No such device or address"
  bots/naughty/fedora-27/9282-docker-cgroup-failure
  bots/naughty/fedora-27/9282-docker-cgroup-failure-2
  bots/naughty/fedora-27/9282-docker-cgroup-failure-3
  bots/naughty/fedora-28/9282-docker-cgroup-failure
  bots/naughty/fedora-28/9282-docker-cgroup-failure-2
Labels: bot, test-external

#9627 tools: Move cockpit-storaged to optional packages
  tools/cockpit.spec
Labels: priority, unrelated-test-failure

#9634 bots: Add Fedora 28 naughty for SELinux denying ssh reading motd
  bots/naughty/fedora-28/9633-sselinux-ssh-motd
Labels: priority, unrelated-test-failure

#9640 bots: Add alternative naughty override for broken core dump on rhel-x
  bots/naughty/rhel-x/8881-systemd-coredump-wrongargs-2
Labels: priority

#9648 tools: Fix cockpit-storaged downstream package name
  tools/cockpit.spec
Labels: unrelated-test-failure

#9651 bots: Add naughty override for patternfly/react-console crash
  bots/naughty/debian-stable/9641-xtermjs-dimensions-crash
  bots/naughty/debian-testing/9641-xtermjs-dimensions-crash
  bots/naughty/fedora-27/9641-xtermjs-dimensions-crash
  bots/naughty/fedora-28/9641-xtermjs-dimensions-crash
  bots/naughty/rhel-7/9641-xtermjs-dimensions-crash
  bots/naughty/rhel-x/9641-xtermjs-dimensions-crash
  bots/naughty/ubuntu-1604/9641-xtermjs-dimensions-crash
  bots/naughty/ubuntu-stable/9641-xtermjs-dimensions-crash
Labels: priority, test-external

#9649 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9652 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9653 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9654 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9647 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#9635 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#9664 test: Skip flow control test on rhel-7-5
  test/verify/check-connection
Labels: priority, unrelated-test-failure

#9655 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9656 bots: Drop deprecated test/images compat code
  bots/image-prune
  bots/tests-invoke
Labels: test-external

#9669 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9668 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9671 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9666 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9674 bots: start triggering selenium/edge on PRs
  bots/tests-scan
Labels: test-external

#9691 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9686 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9690 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9702 test: Ignore unrelated messages about missing tuned
  bots/images/scripts/debian.setup
  test/common/testlib.py
Labels: priority

#9711 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9708 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9716 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9717 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9715 tools: Add explicit gcc build requirement
  tools/cockpit.spec
Labels: priority

#9709 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9720 bots: Skip install of cockpit-docker on rhel-x
  bots/images/scripts/rhel-x.install
  test/verify/check-docker-storage
Labels: test-external

#9728 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot, priority

#9730 build: Skip test-httpstream unit test with GnuTLS 3.6.3
  configure.ac
  src/bridge/Makefile.am
Labels: priority, unrelated-test-failure

#9732 cockpit metapackage dependency fixes
  tools/cockpit.spec
  tools/debian/control
Labels: priority

#9753 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9754 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot

#9748 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9749 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#9755 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9756 Revert "build: Skip test-httpstream unit test with GnuTLS 3.6.3"
  configure.ac
  src/bridge/Makefile.am
Labels: unrelated-test-failure

#9757 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#9761 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9762 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot
