Repository cockpit-project/cockpit, pull requests merged in 2018-05, with the labels that each got.

#9084 tools: Build with a different Go toolset on rhel-8
  tools/cockpit.spec
Labels: priority

#9093 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9096 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9104 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9103 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9092 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9102 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9134 naughty: Close 8880: systemd 238 regression: check-system-info TestSystemInfo.testTime causes timedated crash
  bots/naughty/debian-testing/8880-timedated-crash
  bots/naughty/debian-testing/8880-timedated-crash-2
  bots/naughty/debian-testing/8880-timedated-crash-3
  bots/naughty/rhel-8/8880-timedated-crash
  bots/naughty/rhel-8/8880-timedated-crash-2
  bots/naughty/rhel-8/8880-timedated-crash-3
Labels: bot

#9133 naughty: Close 8898: system 238 regression: org.freedesktop.systemd1.Manager.Reload() D-Bus call fails
  bots/naughty/rhel-8/8898-systemd-reload-disconnect
  bots/naughty/rhel-8/8898-systemd-reload-disconnect-2
Labels: bot

#9132 naughty: Close 8903: system 238 regression: logind sessions stuck in "closing" state after daemon-reload
  bots/naughty/rhel-8/8903-systemd-session-stuck-in-closing
Labels: bot

#9136 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#9145 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9151 Image refresh for rhel-8
  bots/images/rhel-8
Labels: bot

#9148 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9147 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9146 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot

#9152 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9153 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9180 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot, question

#9191 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9190 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9202 Image refresh for rhel-8
  bots/images/rhel-8
Labels: bot

#9203 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot

#9205 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9201 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9211 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9210 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9206 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9204 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9149 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9200 package.json: Update angular-gettext package dependency
  package.json
Labels: bot

#9222 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9225 link to the privacy policy
  README.md
Labels: blocked

#9221 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9238 package.json: Update c3 package dependency
  package.json
Labels: bot

#9257 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9256 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9255 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9252 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9251 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9254 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9237 ws: Also strip query from original_path
  src/common/cockpitwebserver.c
  test/verify/check-multi-machine
Labels: priority
