Repository cockpit-project/cockpit, pull requests merged in 2018-06, with the labels that each got.

#9278 build: Fix `make uninstall` race with find
  Makefile.am
Labels: priority

#9295 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9276 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9288 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9316 naughty: Close 9117: NetworkManager 1.12 does not recognize rolled back checkpoints any more
  bots/naughty/rhel-8/9117-nm-checkpoint-rollback
Labels: bot

#9317 naughty: Close 8016: ubuntu-stable known issue: AppArmor denies access to /sys/block/*/queue/max_segments
  bots/naughty/debian-testing/8016-apparmor-denied-libvirt-max_segments
  bots/naughty/ubuntu-stable/8016-apparmor-denied-libvirt-max_segments
Labels: bot

#9286 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#9296 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9303 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9318 naughty: Close 6422: Fedora, Ubuntu: nsupdate aborts after IPA domain join
  bots/naughty/ubuntu-1604/6422-nsupdate-crash-sssd
  bots/naughty/ubuntu-1604/6422-nsupdate-crash-sssd-2
  bots/naughty/ubuntu-1604/6422-nsupdate-crash-sssd-3
  bots/naughty/ubuntu-stable/6422-nsupdate-crash-sssd
  bots/naughty/ubuntu-stable/6422-nsupdate-crash-sssd-2
  bots/naughty/ubuntu-stable/6422-nsupdate-crash-sssd-3
Labels: bot

#9298 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9245 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot

#9292 packagekit, mobile: fix updates list responsiveness
  pkg/packagekit/updates.less
Labels: accessibility, mobile

#9320 logs, accessibility: first pass at log a11y-ification
  pkg/lib/cockpit-components-logs-panel.jsx
  pkg/lib/journal_line.mustache
  pkg/lib/journal_reboot.mustache
  pkg/networkmanager/index.html
  pkg/systemd/logs.js
  pkg/systemd/services.html
Labels: accessibility

#9347 check-kubernetes: Fix race in React code while setting elements value
  test/verify/check-openshift
Labels: priority

#9335 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9300 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9331 cockpit RPM spec fixes for package split
  tools/cockpit.spec
Labels: unrelated-test-failure

#9353 bots: Fix Machine.disconnect()
  bots/machine/testvm.py
Labels: priority, unrelated-test-failure

#9366 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9356 Image refresh for rhel-8
  bots/images/rhel-8
Labels: bot

#9364 tests: Fix check-menu on rhel-7-5
  test/verify/check-menu
Labels: priority, unrelated-test-failure

#9367 bots: Declare rhel-x image
  bots/tests-scan
Labels: priority

#9363 test: Ignore some OpenShift messages
  test/verify/check-openshift
Labels: priority

#9365 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9361 bots: Refer to next version of RHEL as 'x'
  bots/image-create
  bots/image-prepare
  bots/image-refresh
  bots/image-trigger
  bots/images/rhel-8
  bots/images/rhel-x
  bots/images/scripts/rhel-x.bootstrap
  bots/images/scripts/rhel-x.install
  bots/images/scripts/rhel-x.setup
  bots/images/scripts/rhel.setup
  bots/naughty/rhel-x/6108-pcp-pmfindprofile-crash
  bots/naughty/rhel-x/7891-selinux-denies-virtlogd-dbus
  bots/naughty/rhel-x/7891-selinux-denies-virtlogd-dbus-2
  bots/naughty/rhel-x/8869-selinux-dynamicuser
  bots/naughty/rhel-x/8881-systemd-coredump-wrongargs
  bots/naughty/rhel-x/8905-nm-bond-autoconnect-slaves
  bots/naughty/rhel-x/8905-nm-bridge-autoconnect-slaves
  bots/naughty/rhel-x/8905-nm-team-autoconnect-slaves
  bots/naughty/rhel-x/9261-selinux-nft-module_load
  bots/naughty/rhel-x/9333-selinux-tang
  bots/tests-scan
  test/common/testlib.py
  test/verify/check-apps
  test/verify/check-docker
  test/verify/check-journal
  test/verify/check-kubernetes
  test/verify/check-openshift
  test/verify/check-ostree
  test/verify/check-packagekit
  test/verify/check-sosreport
  test/verify/check-storage-format
  test/verify/check-storage-luks
  test/verify/check-storage-nfs
  test/verify/check-storage-resize
  test/verify/check-subscriptions
  test/verify/check-tuned
  test/verify/packagelib.py
  tools/cockpit.spec
Labels: priority

#9375 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9391 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot

#9390 Image refresh for selenium
  bots/images/selenium
Labels: bot

#9396 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9406 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9407 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9418 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9421 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9420 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#9422 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9419 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot

#9423 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9434 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9441 systemd: Add HACK to avoid issue #9439
  test/verify/check-pages
Labels: priority

#9443 test: Ignore DBus disconnect messages when restarting
  test/common/testlib.py
Labels: priority

#9447 test: Wait for browser longer
  test/common/cdp.py
Labels: priority

#9446 bots: Sync the journal before clearing out journal directory
  bots/images/scripts/lib/containers.install
  bots/images/scripts/lib/debian.install
  bots/images/scripts/lib/fedora.install
Labels: priority

#9458 bots: Fix ability to prioritize bots with priority or blocked labels
  bots/tests-scan
Labels: priority

#9456 test: Fix ostree commit timeouts
  test/verify/check-ostree
Labels: priority

#9453 bots: Kill the SSH master process explicitly after testing
  bots/machine/testvm.py
Labels: priority

#9460 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9473 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#9457 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#9454 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9489 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9488 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9491 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9494 test: Fix check-accounts for rhel-7-5
  test/verify/check-accounts
Labels: priority

#9496 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9504 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9501 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9508 bots: Fix KeyError crash in tests-invoke
  bots/tests-invoke
Labels: priority

#9502 Image refresh for fedora-27
  bots/images/fedora-27
  bots/naughty/fedora-27/9507-selinux-map-mdadm
Labels: bot

#9515 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9500 tools: Port to Python 3
  bots/images/ubuntu-1604
  tools/build-debian-copyright
  tools/cockpit.spec
  tools/debian/control
  tools/gen-spec-dependencies
  tools/min-base-version
  tools/tap-driver
  tools/tap-gtester
Labels: bot

#9490 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#9524 tools: Add temporary python2 build dependency
  tools/cockpit.spec
  tools/debian/control
Labels: priority, unrelated-test-failure

#9537 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9535 Image refresh for centos-7
  bots/images/centos-7
Labels: bot
