Repository cockpit-project/cockpit, pull requests merged in 2018-08, with the labels that each got.

#9776 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9764 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot

#9766 tools: Stop shipping firewall service file with recent firewalld
  tools/cockpit.spec
Labels: priority, unrelated-test-failure

#9786 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#9789 tools: Ignore dangling test/avocado/testvm.py symlink in pyflakes check
  tools/test-static-code
Labels: priority

#9760 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9785 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9788 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#9784 ostree: Drop
  Makefile.am
  bots/image-prepare
  bots/images/scripts/lib/atomic.install
  doc/guide/Makefile-guide.am
  doc/guide/cockpit-guide.xml
  doc/guide/feature-ostree.xml
  pkg/ostree/app.js
  pkg/ostree/client.js
  pkg/ostree/index.html
  pkg/ostree/manifest.json.in
  pkg/ostree/ostree.less
  pkg/ostree/remotes.js
  pkg/ostree/sample.conf
  pkg/ostree/test-utils.js
  pkg/ostree/utils.js
  test/verify/check-ostree
  test/verify/files/cockpit-machines-99999-2.noarch.rpm
  test/verify/files/cockpit-machines.spec
  test/verify/files/cockpit-ostree-wip-0.1.noarch.rpm
  test/verify/files/empty-1-0.noarch.rpm
  test/verify/files/pubring.gpg
  test/verify/files/secring.gpg
  tools/cockpit.spec
  tools/debian/rules
  webpack.config.js
Labels: priority, test-external

#9805 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9809 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot

#9808 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9821 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#9819 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#9820 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9825 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#9792 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9794 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#9798 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9793 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9835 naughty: Close 9450: SELinux denies post{master,conf} reading resolv.conf
  bots/naughty/rhel-7/9450-selinux-postmaster-resolv.conf
Labels: bot, test-external

#9837 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#9848 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#9849 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#9842 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9860 bots: Blacklist @patternfly/react-console and react-bootstrap in npm-update
  bots/npm-update
Labels: priority

#9796 bots: Fix continuous-atomic install script
  bots/images/scripts/continuous-atomic.install
  bots/images/scripts/lib/atomic.install
Labels: test-external

#9864 bots: Detect one more case of Anaconda stopping
  bots/images/scripts/virt-install-fedora
Labels: bot, test-external

#9829 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#9830 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9867 bots: Drop broken kernel core dump sysctl from rhel-x
  bots/images/scripts/rhel-x.install
  bots/images/scripts/rhel.setup
  bots/naughty/rhel-x/8881-systemd-coredump-wrongargs
  bots/naughty/rhel-x/8881-systemd-coredump-wrongargs-2
Labels: test-external

#9876 bots: Put back blacklisting of cockpit-ostree onto VM images
  bots/image-prepare
Labels: priority

#9872 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9875 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#9874 Image refresh for fedora-27
  bots/images/fedora-27
Labels: bot

#9877 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#9883 naughty: Close 9595: udisks regression: Format() fails with 'bd_fs_wipe' called, but not implemented
  bots/naughty/rhel-7/9595-udisks-unmount
  bots/naughty/rhel-7/9595-udisks-wipe
Labels: bot

#9885 naughty: Close 9261: SELinux denies module_load for nft
  bots/naughty/rhel-x/9261-selinux-nft-module_load
Labels: bot, test-external

#9880 bots: Fix package install in atomic install script
  bots/images/scripts/lib/atomic.install
Labels: test-external

#9886 naughty: Close 9023: 7.5 Atomic regression: subscription-manager status fails when offline
  bots/naughty/rhel-atomic/9023-subscription-manager-offline
Labels: bot, test-external

#9781 login: suggest other browsers when browser is unsupported
  src/ws/login.css
  src/ws/login.html
  src/ws/login.js
  test/verify/check-login
Labels: priority

#9892 package.json: Update react-bootstrap package dependency
  package.json
Labels: bot

#9897 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9906 bots: Explicitly install cockpit-dashboard on continuous-atomic
  bots/images/scripts/continuous-atomic.install
Labels: test-external

#9893 package.json: Update mustache package dependency
  package.json
Labels: bot

#9907 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#9911 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot

#9912 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#9910 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#9780 login: check for `CSS.support()` (@supports in CSS)
  bots/tests-scan
  src/ws/login.js
Labels: test-external

#9917 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#9901 test: Reproduce crash with ssh MD5 fingerprint generation in FIPS mode
  bots/naughty/rhel-7/9918-cockpit-ssh-crash-md5
  test/verify/check-multi-machine
Labels: test-external, unrelated-test-failure

#9930 naughty: Close 9507: SELinux denied { map } comm="mdadm" path="/usr/sbin/mdadm"
  bots/naughty/fedora-27/9507-selinux-map-mdadm
Labels: bot, test-external

#9928 naughty: Close 9721: SETroubleshoot page does not work on rhel-x
  bots/naughty/rhel-x/9721-setroubleshoot
Labels: bot, test-external

#9929 naughty: Close 9592: avc: denied { map } for comm="local" path="/usr/libexec/postfix/local
  bots/naughty/rhel-7/9592-selinux-postfix-local
Labels: bot, test-external

#9931 naughty: Close 9505: Fedora 28: SELinux prevents rpc.gssd from getattr
  bots/naughty/fedora-28/9505-selinux-rpc-gsssd-getattr
Labels: bot, test-external

#9817 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot

#9946 test: Cleanup subscription status on rhel-atomic
  test/verify/check-subscriptions
Labels: priority
