Repository cockpit-project/cockpit, pull requests merged in 2018-10, with the labels that each got.

#10183 package.json: Update prop-types package dependency
  package.json
Labels: bot

#10186 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10185 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10178 lib, apps: Provide polyfill for Promise.finally
  pkg/apps/index.jsx
  pkg/lib/polyfills.js
Labels: priority

#10184 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10180 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10182 bots: Add task API for DELETE
  bots/task/github.py
  bots/task/test-github
Labels: test-external

#10197 Revert "bots: Run welder-web tests with chrome and firefox scenarios"
  bots/tests-scan
Labels: priority, test-external

#10212 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10211 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#10190 doc: Document proper FreeIPA sudo setup
  doc/guide/sso.xml
Labels: priority

#10219 machines: Fix typo in flags for ListStoragePools API call
  pkg/machines/libvirt-dbus.es6
Labels: priority

#10215 package.json: Update react-dom package dependency
  package.json
Labels: bot

#10216 tools: Drop cockpit-kubernetes on Fedora ≥ 30
  test/verify/check-kubernetes
  test/verify/check-openshift
  tools/cockpit.spec
Labels: unrelated-test-failure

#10203 cockpit.spec: cockpit-{machines, ovirt} should not require libvirt metapackage
  tools/cockpit.spec
Labels: priority

#10230 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10234 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10221 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#10232 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10222 bots: Make test/vm-run work without SSH enabled on host
  bots/machine/testvm.py
Labels: test-external

#10206 bots: Replace in rhel libvirt package requirement with libvirt-daemon-kvm
  bots/images/rhel-x
  bots/images/scripts/rhel.setup
Labels: bot, test-external

#10231 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10243 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10214 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10238 tools: Don't build/depend on subscription-manager for CentOS builds
  tools/cockpit.spec
Labels: priority

#10245 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10241 ssh: Use SHA256 fingerprints when available
  configure.ac
  src/ssh/cockpitsshrelay.c
  src/ssh/test-sshbridge.c
  test/verify/check-multi-machine
Labels: priority

#10250 test: Fix unexpected message in check-pages
  test/verify/check-pages
Labels: priority, unrelated-test-failure

#10236 test: Multi machines change_ssh_port flake fix
  test/verify/check-multi-machine
Labels: priority, unrelated-test-failure

#10256 naughty: Close 9704: timedated SetNtp race condition with systemd 239
  bots/naughty/debian-testing/9704-setntp-race
Labels: bot, test-external

#10258 naughty: Close 6493: Fedora: SELinux prevents sosreport from working
  bots/naughty/fedora-28/6493-selinux-sosreport-relabelto
  bots/naughty/fedora-29/6493-selinux-sosreport-relabelto
Labels: bot, test-external

#10260 test: Fix network connection id retrieval
  test/verify/check-networking-basic
  test/verify/netlib.py
Labels: priority

#10263 bots/push-rewrite: Wait for commits to appear in the API
  bots/push-rewrite
  bots/task/github.py
Labels: test-external

#10261 packagekit: Add missing React key to UpdatesList
  pkg/packagekit/updates.jsx
Labels: priority

#10270 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10279 bots: Handle GitHub statuses without a target_url field
  bots/tests-data
Labels: test-external

#10278 bots: Only run Kube namespace specific tasks in that namespace
  bots/issue-scan
Labels: test-external

#10273 bridge: Fix use of pointer after free in CockpitFsList
  src/bridge/cockpitfslist.c
Labels: priority

#10275 test: Fix unexpected message in check-accounts
  test/verify/check-accounts
Labels: priority, unrelated-test-failure

#10280 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10287 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot, test-external

#10294 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10290 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#10293 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10297 test: Ignore core dump messages in testPackageKitCrash
  test/verify/check-packagekit
Labels: priority

#10302 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10299 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10303 networking: More robust detection of masters
  pkg/networkmanager/interfaces.js
Labels: priority

#10298 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10309 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot, test-external

#10308 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10307 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10316 bots: Add a margin on the log.html page
  bots/task/log.html
Labels: test-external

#10311 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10326 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10329 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10336 bots: Declare ubuntu-1804 image
  bots/tests-scan
Labels: test-external

#10332 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10340 bots: Update Red Hat internal task matching
  bots/issue-scan
Labels: priority, test-external

#10343 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot, test-external

#10362 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10346 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10399 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10405 bots: Drop ubuntu-1604 image
  bots/image-refresh
  bots/image-trigger
  bots/images/scripts/debian.setup
  bots/images/scripts/ubuntu-1604.bootstrap
  bots/images/scripts/ubuntu-1604.install
  bots/images/scripts/ubuntu-1604.setup
  bots/images/ubuntu-1604
  bots/naughty/ubuntu-1604/4181-confused-storaged
  bots/naughty/ubuntu-1604/4181-confused-storaged-2
  bots/naughty/ubuntu-1604/4181-confused-storaged-4
  bots/naughty/ubuntu-1604/5295-apparmor-denied-ntpd
  bots/naughty/ubuntu-1604/6108-pcp-pmfindprofile-crash
  bots/naughty/ubuntu-1604/6901-apparmor-denied-libvirt-gss
  bots/naughty/ubuntu-1604/9487-nsupdate-assert
  bots/naughty/ubuntu-1604/9487-nsupdate-assert-2
  bots/tests-scan
  test/README.md
  test/common/testlib.py
  test/verify/check-docker
  test/verify/check-docker-storage
  test/verify/check-journal
  test/verify/check-kdump
  test/verify/check-kubernetes
  test/verify/check-multi-machine
  test/verify/check-networking-bond
  test/verify/check-networking-checkpoints
  test/verify/check-networking-firewall
  test/verify/check-networking-other
  test/verify/check-networking-team
  test/verify/check-openshift
  test/verify/check-ovirt
  test/verify/check-packagekit
  test/verify/check-pages
  test/verify/check-realms
  test/verify/check-setroubleshoot
  test/verify/check-sosreport
  test/verify/check-storage-hidden
  test/verify/check-storage-iscsi
  test/verify/check-storage-luks
  test/verify/check-storage-lvm2
  test/verify/check-storage-multipath
  test/verify/check-storage-nfs
  test/verify/check-storage-resize
  test/verify/check-subscriptions
  test/verify/check-tuned
  test/verify/machineslib.py
Labels: test-external

#10397 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10421 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10417 naughty: Close 9970: SELinux denials for dogtag-ipa-rene when starting certmonger.service
  bots/naughty/rhel-x/9970-selinux-certmonger
Labels: bot, test-external

#10416 naughty: Close 10005: Certain libvirt commands fail on fedora-29 because of json parsing bug
  bots/naughty/fedora-29/10005-libvirt-json-parse-fail
Labels: bot, test-external

#10404 test: Only consider journal messages from current test run
  bots/machine/testvm.py
  test/common/testlib.py
Labels: test-external

#10410 Image refresh for rhel-x
  bots/images/rhel-x
Labels: bot, test-external

#10422 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10396 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10403 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10446 bots: Adjust naughty override for 7891 for rhel-7.6 branch
  bots/naughty/rhel-7/7891-selinux-denies-virtlogd-dbus-2
Labels: priority

#10436 Update react-dom component
  package.json
Labels: bot

#10457 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10459 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10460 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot, test-external

#10456 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10461 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10462 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10466 package.json: Update react-redux package dependency
  package.json
Labels: bot

#10476 naughty: Close 9993: Kdump service crash on fedora-29
  bots/naughty/fedora-29/9993-kdump-unhandled-rela-relocation
Labels: bot, test-external

#10482 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10481 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#10467 lib: Fix FileAutoComplete input
  pkg/lib/cockpit-components-file-autocomplete.jsx
Labels: priority

#10483 bots: Use libvirt XML instead of raw qemu args for bridge
  bots/machine/testvm.py
Labels: test-external, unrelated-test-failure
