Repository cockpit-project/cockpit, pull requests merged in 2018-02, with the labels that each got.

#8593 package.json: Update c3 package dependency
  package.json
Labels: bot

#8602 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#8599 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8600 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8603 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot

#8611 naughty: Close 8389: SSH sessions are in a private "mnt" namespace
  bots/naughty/debian-testing/8389-crippled-ssh-sessions
  bots/naughty/debian-testing/8389-crippled-ssh-sessions-2
Labels: bot

#8604 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#8624 package.json: Update c3 package dependency
  package.json
Labels: bot

#8637 package.json: Update react-redux package dependency
  package.json
Labels: bot

#8633 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#8646 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8639 Image refresh for fedora-26
  bots/images/fedora-26
Labels: bot

#8645 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8649 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8635 ws: Fix i18n of login page
  src/ws/login.html
  src/ws/login.js
Labels: priority, unrelated-test-failure

#8648 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#8654 test: Adjust expected messages in check-apps
  test/verify/check-apps
Labels: unrelated-test-failure

#8660 naughty: Close 8272: Kernel 4.14 on Fedora breaks core dumping for processes in namespaces
  bots/naughty/fedora-26/8272-selinux-systemd-unit-coredumping
  bots/naughty/fedora-27/8272-selinux-systemd-unit-coredumping
Labels: bot

#8664 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot

#8670 lib: Fix duplicate RegExp with different flags
  pkg/lib/machine-info.es6
Labels: priority

#8689 Image refresh for centos-7
  bots/images/centos-7
Labels: bot

#8688 Image refresh for rhel-7-5
  bots/images/rhel-7-5
Labels: bot

#8686 Image refresh for rhel-7-4
  bots/images/rhel-7-4
Labels: bot

#8687 Image refresh for rhel-7
  bots/images/rhel-7
Labels: bot

#8679 storaged: Drop VDO async option
  pkg/storaged/client.js
  pkg/storaged/vdos-panel.jsx
Labels: priority

#8698 Image refresh for selenium
  bots/images/selenium
Labels: bot

#8707 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#8712 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#8713 Image refresh for ubuntu-1604
  bots/images/ubuntu-1604
Labels: bot

#8715 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#8722 naughty: Close 8467: AppArmor denies operation="signal" to libvirtd
  bots/naughty/debian-testing/8467-apparmor-libvirt-signal
Labels: bot

#8724 naughty: Close 6960: RHEL: storaged regression on lvm resize
  bots/naughty/centos-7/6960-storaged-regression-lvm-resize
  bots/naughty/rhel-7-4/6960-storaged-regression-lvm-resize
  bots/naughty/rhel-7/6960-storaged-regression-lvm-resize
Labels: bot
