Repository cockpit-project/cockpit, pull requests merged in 2018-12, with the labels that each got.

#10721 package.json: Update react-redux package dependency
  package.json
Labels: bot

#10717 Fixes check-system-info test import ordering issue
  test/verify/check-system-info
Labels: priority

#10724 Image refresh for rhel-x
  bots/images/rhel-x
Labels: bot, test-external

#10723 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10719 bots: Add naughty override for qemu crashing when in tcg mode in debian stable
  bots/naughty/debian-stable/10718-qemu-crash-in-tcg-mode
Labels: test-external

#10727 Update translations from Fedora Zanata
  po/cs.po
  po/da.po
  po/it.po
  po/pl.po
  po/sv.po
  po/uk.po
Labels: bot

#10722 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10745 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10748 bots: Respect FRAGILE list in npm-update
  bots/npm-update
Labels: priority

#10762 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10764 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10768 Fix statuses watching in tests-invoke
  bots/tests-invoke
Labels: priority, test-external

#10759 naughty: Close 9970: SELinux denials for dogtag-ipa-rene when starting certmonger.service
  bots/naughty/rhel-8-0/9970-selinux-certmonger
Labels: bot, test-external

#10758 naughty: Close 10426: libssh 0.8.1 fails to parse known_hosts, resulting in SSH_SERVER_FOUND_OTHER error for hostkey verification
  bots/naughty/ubuntu-stable/10426-libssh-known-hosts-parse
  bots/naughty/ubuntu-stable/10426-libssh-known-hosts-parse-2
Labels: bot

#10760 naughty: Close 9486: Ubuntu: libvirtd crashes in pci_get_strings
  bots/naughty/ubuntu-1804/9486-libvirtd-crash-pci_get_strings
  bots/naughty/ubuntu-stable/9486-libvirtd-crash-pci_get_strings
Labels: bot

#10761 bots, test: Drop Fedora 28 release, image, and tests
  bots/image-refresh
  bots/image-trigger
  bots/images/fedora-28
  bots/images/scripts/fedora-28.bootstrap
  bots/images/scripts/fedora-28.install
  bots/images/scripts/fedora-28.setup
  bots/naughty/fedora-28/10565-selinux-chpasswd-sss-cache
  bots/naughty/fedora-28/6108-pcp-pmfindprofile-crash
  bots/naughty/fedora-28/6108-pcp-pmfindprofile-crash-2
  bots/naughty/fedora-28/6108-pcp-pmfindprofile-crash-3
  bots/naughty/fedora-28/6108-pcp-pmfindprofile-crash-4
  bots/naughty/fedora-28/8871-selinux-rpcbind
  bots/naughty/fedora-28/8905-nm-bond-autoconnect-slaves
  bots/naughty/fedora-28/8905-nm-bridge-autoconnect-slaves
  bots/naughty/fedora-28/8905-nm-team-autoconnect-slaves
  bots/naughty/fedora-28/9050-openshift-image-registry-whitelist
  bots/naughty/fedora-28/9330-ipa-leave-domain-None
  bots/tests-scan
  test/README.md
  test/common/testlib.py
  test/verify/check-machines-virsh
  test/verify/check-packagekit
  test/verify/check-realms
  test/verify/check-subscriptions
  tools/cockpituous-release
Labels: test-external

#10777 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10773 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10781 bots: Fix fedora-testing install file
  bots/images/scripts/fedora-testing.install
Labels: priority

#10786 Check for NPM dependency updates
  package.json
Labels: bot

#10789 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10787 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10776 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10798 machines: Fix use of "xterm"
  package.json
  pkg/machines/machines.less
Labels: priority, unrelated-test-failure

#10795 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10754 storage: Validate fsys label length
  pkg/storaged/format-dialog.jsx
  pkg/storaged/fsys-tab.jsx
  pkg/storaged/utils.js
  test/verify/check-storage-format
Labels: priority

#10791 Update translations from Fedora Zanata
  po/cs.po
  po/it.po
  po/pl.po
  po/sv.po
  po/uk.po
Labels: bot

#10770 ws: Add minimal Python WebKit2 browser as preferred alternative
  src/ws/cockpit-desktop.in
Labels: priority

#10801 naughty: Close 9050: openshift 3.9 regression: image registry whitelist enabled by default and hard to configure
  bots/naughty/fedora-29/9050-openshift-image-registry-whitelist
  bots/naughty/rhel-7/9050-openshift-image-registry-whitelist
Labels: bot, test-external

#10802 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot, test-external

#10804 Update translations from Fedora Zanata
  po/cs.po
  po/de.po
  po/es.po
  po/fr.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: bot, priority

#10803 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10805 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10771 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10819 ws: Fix bug parsing invalid base64 headers
  src/ws/cockpitauth.c
  src/ws/test-auth.c
Labels: priority

#10814 lib: form-layout: Do not set width for relaxed elements
  pkg/lib/form-layout.less
Labels: enhancement, priority

#10817 package.json: Update patternfly-react package dependency
  package.json
Labels: bot

#10828 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10827 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10842 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10841 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10848 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external, unrelated-test-failure

#10851 pkg: Drop function wrappers from modules with exports
  pkg/docker/bar.js
  pkg/docker/client.js
  pkg/docker/details.js
  pkg/docker/docker.js
  pkg/docker/image.js
  pkg/docker/overview.js
  pkg/docker/search.js
  pkg/docker/storage.jsx
  pkg/docker/util.js
  pkg/lib/cockpit-components-terminal.jsx
  pkg/lib/credentials.js
  pkg/lib/journal.js
  pkg/lib/machine-dialogs.js
  pkg/lib/machines.js
  pkg/lib/qunit-tests.js
  pkg/lib/service.js
  pkg/networkmanager/utils.js
  pkg/playground/react-demo-dialog.jsx
  pkg/playground/react-demo-listing.jsx
  pkg/shell/base_index.js
  pkg/shell/credentials.js
  pkg/shell/indexes.js
  pkg/storaged/client.js
  pkg/storaged/utils.js
Labels: priority

#10855 Update translations from Fedora Zanata
  po/cs.po
  po/it.po
  po/pl.po
  po/sv.po
  po/uk.po
Labels: bot

#10852 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10865 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10864 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10870 Drop require.js
  bots/npm-update
  examples/ocserv/ocserv.html
  package.json
  pkg/shell/base_index.js
  src/base1/Makefile.am
  src/base1/require-config.js
  tools/build-debian-copyright
  tools/cockpit.spec
Labels: test-external

#10877 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10873 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10871 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10878 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10883 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10881 package.json: Update xterm package dependency
  package.json
Labels: bot

#10888 package.json: Update moment package dependency
  package.json
Labels: bot
