Repository cockpit-project/cockpit, pull requests merged in 2018-11, with the labels that each got.

#10489 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10490 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10493 package.json: Update react package dependency
  package.json
Labels: bot

#10503 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10508 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10510 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10517 naughty: Close 10240: fedora 29: grub2-mkconfig crashes
  bots/naughty/fedora-29/10240-grub2-mkconfig-syntax-error
Labels: bot, test-external

#10518 naughty: Close 10027: packagekitd crash on fedora-29 during check-storage-lvm2 tests
  bots/naughty/fedora-29/10027-packagekitd-crash
Labels: bot, test-external

#10519 naughty: Close 9633: SELinux is preventing sshd from 'read' accesses on the file active.motd
  bots/naughty/fedora-28/9633-sselinux-ssh-motd
  bots/naughty/fedora-29/9633-sselinux-ssh-motd
Labels: bot, test-external

#10507 packagekit: Always show empty state pattern for unsubscribed systems
  pkg/packagekit/updates.jsx
  test/verify/check-packagekit
Labels: unrelated-test-failure

#10524 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10521 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#10523 Image refresh for candlepin
  bots/images/candlepin
Labels: bot, test-external

#10511 networkmanager: Fix enabling firewalld on Firewall page
  bots/naughty/rhel-x/9722-firewalld-bad-rule-3
  pkg/networkmanager/firewall-client.es6
  test/verify/check-networking-firewall
Labels: test-external

#10491 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10520 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10546 bots: Run "make update-po" instead of "make po/cockpit.pot"
  bots/po-refresh
Labels: test-external

#10553 Add Microsoft Edge browser scenario on welder-web end to end test.
  bots/tests-scan
Labels: test-external

#10549 package.json: Update react package dependency
  package.json
Labels: bot

#10552 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10571 naughty: Close 10264: kvdo broken on current rhel-x: kernel version mismatch
  bots/naughty/rhel-x/10264-kvdo-missing
Labels: bot, test-external

#10573 naughty: Close 6901: Ubuntu: Apparmor denies libvirt from accessing /etc/gss/mech.d/
  bots/naughty/debian-testing/6901-apparmor-denied-libvirt-gss
  bots/naughty/ubuntu-1804/6901-apparmor-denied-libvirt-gss
  bots/naughty/ubuntu-stable/6901-apparmor-denied-libvirt-gss
Labels: bot, test-external

#10572 naughty: Close 7635: Selinux and Pcp
  bots/naughty/fedora-28/7635-selinux-pmlogger
  bots/naughty/fedora-28/7635-selinux-pmlogger2
  bots/naughty/fedora-28/7635-selinux-pmsignal
  bots/naughty/fedora-29/7635-selinux-pmlogger
  bots/naughty/fedora-29/7635-selinux-pmlogger2
  bots/naughty/fedora-29/7635-selinux-pmsignal
  bots/naughty/fedora-atomic/7635-selinux-pmsignal
Labels: bot, test-external

#10574 naughty: Close 5295: Ubuntu: apparmor="DENIED" during check-realms
  bots/naughty/ubuntu-1804/5295-apparmor-denied-ntpd
  bots/naughty/ubuntu-stable/5295-apparmor-denied-ntpd
Labels: bot, test-external

#10575 naughty: Close 4181: Debian, Ubuntu: Storaged gets confused by add/remove/add uevent sequence
  bots/naughty/debian-stable/4181-confused-storaged
  bots/naughty/debian-stable/4181-confused-storaged-2
  bots/naughty/debian-testing/4181-confused-storaged
  bots/naughty/debian-testing/4181-confused-storaged-2
Labels: bot

#10504 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10579 bots: Show SHA of origin/master when rebasing
  bots/tests-invoke
Labels: test-external, unrelated-test-failure

#10576 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10587 bots: Add naughty override for SELinux regression on fedora-29
  bots/naughty/fedora-29/10586-selinux-timesyncd-nnp_transition
Labels: priority

#10593 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#10592 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10584 bots: Ignore packages with qualified versions in npm-update
  bots/npm-update
Labels: bot, test-external

#10554 containers: Export git url to test-bots in unit-tests container
  containers/unit-tests/run.sh
Labels: test-external, unrelated-test-failure

#10596 bots: Fix markdown for GitHub comment in npm-update
  bots/npm-update
Labels: test-external

#10591 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10594 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10601 WIP - rewrite npm-update to be easier to follow
  bots/npm-update
Labels: test-external

#10318 ssh: Parse ssh config file before connecting
  configure.ac
  src/ssh/cockpitsshrelay.c
  src/ssh/test-sshbridge.c
  test/verify/check-multi-machine
Labels: unrelated-test-failure

#10602 test: Add test for file autocompletion widget
  test/verify/check-pages
Labels: unrelated-test-failure

#10608 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10605 Image refresh for rhel-x
  bots/images/rhel-x
Labels: bot, test-external

#10606 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10619 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10622 bots: Fix error in npm-update
  bots/npm-update
Labels: priority, test-external

#10620 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10624 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10630 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10628 naughty: Close 10086: SELinux denies certmonger to output certificates to /run/cockpit
  bots/naughty/fedora-28/10086-selinux-certmonger-run-cockpit
  bots/naughty/fedora-29/10086-selinux-certmonger-run-cockpit
  bots/naughty/rhel-x/10086-selinux-certmonger-run-cockpit
Labels: bot, test-external

#10566 bots: Add flake-refresh
  bots/flakes-refresh
  bots/learn-trigger
Labels: test-external

#10634 bots: Drop unused import
  bots/flakes-refresh
Labels: priority

#10639 Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/es.po
  po/fr.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#10632 networkmanager: Disable "Add Services" firewall button when firewall is off
  pkg/networkmanager/firewall.jsx
  test/verify/check-networking-firewall
Labels: unrelated-test-failure

#10644 test: add support for machine execution to seleniumlib
  test/avocado/identity
  test/avocado/seleniumlib.py
Labels: test-external

#10646 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10653 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10650 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10664 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10666 bots: Run po-refresh exactly once every week
  bots/po-trigger
Labels: test-external

#10667 Update translations from Fedora Zanata
  po/cs.po
  po/da.po
  po/pl.po
  po/sv.po
Labels: bot

#10665 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10668 Image refresh for fedora-28
  bots/images/fedora-28
Labels: bot, test-external

#10673 bots: Print url when GitHub API calls fail
  bots/push-rewrite
  bots/task/github.py
Labels: test-external

#10680 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10686 webpack: Tighten jshint path match
  webpack.config.js
Labels: priority

#10693 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10670 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10643 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10699 tests: machineslib: fix undefined variable
  test/verify/machineslib.py
Labels: priority

#10708 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10706 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#10709 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10714 ws: Fix updating gettext files
  src/ws/Makefile-ws.am
Labels: priority
