Repository cockpit-project/cockpit, pull requests merged in 2019-03, with the labels that each got.

#11251 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#11276 [no-test] Allow triggering more tests - but only ours
  bots/tests-trigger
Labels: test-external

#11277 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11284 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11286 package.json: Update bootstrap package dependency
  package.json
Labels: bot

#11283 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11289 bots: Randomize "since" time in issue() check [no-test]
  bots/task/__init__.py
Labels: test-external

#11287 package.json: Update qunit package dependency
  package.json
Labels: bot

#11298 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11309 tools: Enable bodhi for Fedora 30 [no-test]
  tools/cockpituous-release
Labels: priority

#11313 lib/file-autocomplete: Fix caret placement & enlarge click target
  pkg/lib/cockpit-components-file-autocomplete.css
Labels: priority

#11314 common: Fix test-webserver for environments with only loopback interface
  src/common/test-webserver.c
Labels: priority, unrelated-test-failure

#11306 Software Update: Improve native selects
  pkg/packagekit/autoupdates.jsx
Labels: accessibility, enhancement

#11324 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11328 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11330 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11337 bots: Don't run container/kubernetes test on RHEL 8 [no-test]
  bots/tests-scan
Labels: priority

#11342 test: Enable security update related tests on RHEL 8.0
  test/verify/check-packagekit
Labels: backport

#11348 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11341 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11350 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11262 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11358 bots: Show store URL in image-upload [no-test]
  bots/image-upload
Labels: priority

#11351 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11345 packagekit: Make auto-update day and time selectors keyboard friendly
  package.json
  pkg/packagekit/autoupdates.jsx
Labels: unrelated-test-failure

#11362 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, priority, test-external, unrelated-test-failure

#11353 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11363 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11375 bots: Declare rhel-7-7 image [no-test]
  bots/tests-scan
Labels: test-external

#11377 bots: Drop VirtMachine.add_netiface() vlan option
  bots/machine/machine_core/machine_virtual.py
  test/verify/check-networking-bridge
  test/verify/netlib.py
Labels: test-external

#11373 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#11385 kubernetes: Remove deprecated spec.externalID
  examples/kubernetes/node.json
  pkg/kubernetes/scripts/nodes.js
  pkg/kubernetes/scripts/test-kube-client.js
  pkg/kubernetes/views/node-body.html
  pkg/kubernetes/views/nodes-page.html
Labels: unrelated-test-failure

#11388 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11391 bots: Drop fedora-i386 from master PRs [no-test]
  bots/tests-scan
Labels: test-external

#11398 Update translations from Fedora Zanata
  po/cs.po
  po/hu.po
  po/pl.po
  po/uk.po
Labels: bot

#11399 bots: Enable rhel-7-7 image refreshes and master runs [no-test]
  bots/image-refresh
  bots/image-trigger
  bots/tests-scan
Labels: test-external, unrelated-test-failure

#11403 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11416 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11411 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11415 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11417 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11409 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#11410 package.json: Update patternfly-react package dependency
  package.json
Labels: bot

#11428 storage: Better NFS tests, Ignore non-NFS mounts in NFS table
  pkg/storaged/nfs-mounts.py
  test/verify/check-storage-nfs
Labels: priority

#11433 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11431 login: Correctly decode statusText also for OAuth responses
  src/ws/login.js
Labels: priority

#11440 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11442 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot, test-external

#11439 Update translations from Fedora Zanata
  po/cs.po
  po/da.po
  po/pl.po
  po/uk.po
Labels: bot, priority

#11434 package.json: Update patternfly-react package dependency
  package.json
Labels: bot

#11444 machines: fix wrong filtering of net nodedevs in filterVirtualBridgesFromNetNodeDevices
  pkg/machines/components/create-vm-dialog/pxe-helpers.js
Labels: priority

#11463 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11469 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11468 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11466 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11453 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11462 bots: Retry GitHub api requests up to 5 times upon receiving 502 [no-test]
  bots/task/github.py
Labels: test-external

#11456 bridge: Fix race condition in test-pipe-channel
  src/bridge/test-pipe-channel.c
Labels: unrelated-test-failure

#11368 system: CPUSecurityMitigations dialog
  pkg/systemd/hwinfo.jsx
  pkg/systemd/kernelopt.sh
  test/verify/check-system-info
Labels: unrelated-test-failure

#11464 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11457 bots: Continue downloading image after error [no-test]
  bots/image-download
Labels: test-external

#11472 naughty: Close 10718: Debian: qemu crashes in tcg mode when under heavy load
  bots/naughty/debian-stable/10718-qemu-crash-in-tcg-mode
Labels: bot, test-external

#11474 bots: Support "no-test" label to avoid tests being queued [no-test]
  bots/tests-scan
Labels: test-external

#11414 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11480 bots: Re-fix direct test triggering
  bots/tests-scan
Labels: no-test, priority

#11483 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11485 systemd: Work around incomplete BLS transition on RHEL 8.0
  pkg/systemd/kernelopt.sh
  test/verify/check-system-info
Labels: priority

#11487 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11476 bridge: Make PTY resizing test resistant to kernel bug
  src/bridge/test-pipe-channel.c
Labels: unrelated-test-failure

#11490 Update translations from Fedora Zanata
  po/cs.po
  po/da.po
  po/pl.po
  po/uk.po
Labels: bot

#11489 package.json: Update react package dependency
  package.json
Labels: bot

#11497 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11499 test: Check that specific file is in SOS archive
  test/verify/check-sosreport
Labels: priority
