Repository cockpit-project/cockpit, pull requests merged in 2019-04, with the labels that each got.

#11496 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#11488 storage: Use headline case for "Create Partition" dialogs and buttons
  pkg/storaged/content-views.jsx
  pkg/storaged/format-dialog.jsx
  po/ca.po
  po/cs.po
  po/da.po
  po/de.po
  po/es.po
  po/eu.po
  po/fi.po
  po/fr.po
  po/hr.po
  po/hu.po
  po/it.po
  po/ja.po
  po/ko.po
  po/my.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/tr.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
  test/verify/check-storage-luks
  test/verify/check-storage-mdraid
  test/verify/check-storage-msdos
  test/verify/check-storage-partitions
  test/verify/check-storage-used
Labels: unrelated-test-failure

#11504 build: Bump webpack timeout [no-test]
  Makefile.am
Labels: priority

#11509 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11511 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11508 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11510 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11507 package.json: Update patternfly-react package dependency
  package.json
Labels: bot

#11518 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11519 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11522 naughty: Close 11228: avc: denied { signull } for comm="systemd-journal"
  bots/naughty/rhel-8/11228-selinux-signull-journal
Labels: bot, test-external

#11514 storage: Update file system descriptions [no-test]
  pkg/storaged/format-dialog.jsx
Labels: priority

#11517 test: Remove redundant wait_present() calls
  bots/naughty/fedora-29/10038-abrtd-crash-fn
  bots/naughty/fedora-29/10038-abrtd-crash-fn-2
  bots/naughty/fedora-30/10038-abrtd-crash-fn
  bots/naughty/fedora-30/10038-abrtd-crash-fn-2
  test/containers/check-bastion
  test/containers/check-kubernetes-openshift
  test/verify/check-accounts
  test/verify/check-active-pages
  test/verify/check-apps
  test/verify/check-dashboard
  test/verify/check-docker
  test/verify/check-docker-storage
  test/verify/check-examples
  test/verify/check-journal
  test/verify/check-kdump
  test/verify/check-keys
  test/verify/check-kubernetes
  test/verify/check-login
  test/verify/check-machines-dbus
  test/verify/check-machines-virsh
  test/verify/check-menu
  test/verify/check-multi-machine
  test/verify/check-multi-machine-key
  test/verify/check-multi-os
  test/verify/check-networking-basic
  test/verify/check-networking-bond
  test/verify/check-networking-bridge
  test/verify/check-networking-firewall
  test/verify/check-networking-mac
  test/verify/check-networking-settings
  test/verify/check-networking-team
  test/verify/check-openshift
  test/verify/check-ovirt
  test/verify/check-packages
  test/verify/check-pages
  test/verify/check-realms
  test/verify/check-services
  test/verify/check-session
  test/verify/check-setroubleshoot
  test/verify/check-shutdown-restart
  test/verify/check-storage-iscsi
  test/verify/check-storage-lvm2
  test/verify/check-storage-mdraid
  test/verify/check-storage-nfs
  test/verify/check-storage-resize
  test/verify/check-storage-vdo
  test/verify/check-subscriptions
  test/verify/check-terminal
  test/verify/check-tuned
Labels: priority, test-external

#11529 bots: Move composer tests to current Fedora/RHEL versions
  bots/tests-scan
Labels: no-test

#11528 test: Whitelist unexpected PackageKit message in check-apps
  test/verify/check-apps
Labels: priority

#11512 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot

#11533 [no-test]bots: Teach bots to make more commits per PR
  bots/task/__init__.py
  bots/task/test-task
Labels: test-external

#11534 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11537 [no-test] bots: Use no-test in PR from issues
  bots/task/__init__.py
Labels: test-external

#11538 [no-test] bots: Firstly rename issue and then push force
  bots/task/__init__.py
Labels: test-external

#11484 sosreport: Adjust progress bar to new s-r output
  bots/naughty/rhel-atomic/7462-atomic-sosreport-hangs-forever
  pkg/sosreport/index.js
  test/verify/check-sosreport
Labels: test-external

#11546 [no-test] bots: tests-scan log what is happening
  bots/tests-scan
Labels: test-external

#11540 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11547 system: Rename "symmetric" to "simultaneous" multithreading
  pkg/systemd/hwinfo.jsx
Labels: no-test

#11551 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11550 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11549 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot

#11544 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11548 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11556 bots: Add tests-scan option to pass complete GitHub pull_request JSON data
  bots/tests-scan
Labels: no-test

#11553 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11558 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11560 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11564 naughty: Close 9994: timesyncd fails to start on fedora-29
  bots/naughty/fedora-29/9994-timesyncd-crash-on-start
Labels: bot, test-external

#11571 test: Drop workaround for broken libssh 0.8.4
  configure.ac
  src/ssh/Makefile-ssh.am
  src/ws/Makefile-ws.am
Labels: unrelated-test-failure

#11576 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#11585 bots: Only comment `done` on issue when pushing branch
  bots/po-refresh
  bots/task/__init__.py
Labels: no-test, test-external

#11577 package.json: Update promise package dependency
  package.json
Labels: bot

#11587 Option -e is deprecated in docker
  bots/images/scripts/openshift.setup
  pkg/kubernetes/views/registry-dashboard-page.html
Labels: test-external

#11575 ws: Replace pam_shells with running bridge through user's shell
  src/common/cockpitpipetransport.c
  src/ws/cockpitauth.c
  src/ws/session.c
  tools/cockpit.debian.pam
  tools/cockpit.pam
Labels: unrelated-test-failure

#11599 bots: Do not run tests automatically for image refresh
  bots/image-refresh
  bots/task/__init__.py
Labels: no-test, test-external

#11590 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#11592 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11603 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11609 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11612 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11607 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11604 package.json: Update @babel/polyfill package dependency
  package.json
Labels: bot

#11622 bots: Add second naughty for the podman crash on PullImage with non-existing tag
  bots/naughty/fedora-29/11579-podman-pull-non-existing-tag-crash-no-coredump-available
Labels: test-external, unrelated-test-failure

#11621 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11624 Image refresh for rhel-8-1
  bots/images/rhel-8-1
Labels: bot, test-external

#11626 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#11629 bots: Fix naughty for podman crash on PullImage API
  bots/naughty/fedora-29/11579-podman-pull-non-existing-tag-crash-no-coredump-available
Labels: test-external

#11605 login: Take url_root into account when selecting page style
  src/ws/login.js
Labels: priority

#11625 ws: Set proper $HOME for session leader shell
  src/ws/session-utils.c
  test/verify/check-terminal
Labels: priority

#11630 machines: Fix Oops due to new OS autodetection code in VM creation dialog
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
Labels: priority

#11633 bots: include fedora-30 tests for podman in the tests-scan matrix
  bots/naughty/fedora-30/11579-podman-pull-non-existing-tag-crash-no-coredump-available
  bots/naughty/fedora-30/11579-podman-pull-nonexisting-tag-crash
  bots/tests-scan
Labels: no-test, test-external

#11636 bots: Remove trailing slash from origin
  bots/task/github.py
Labels: no-test, test-external

#11638 [no-test] bots: Make po-refresh bot more universal
  bots/po-refresh
Labels: bot, test-external

#11642 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11640 package.json: Update xterm package dependency
  package.json
Labels: bot

#11644 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11646 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11648 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11645 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#11652 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11653 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11643 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot, test-external

#11649 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11581 bots: Map from project through branch to contexts [no-test]
  bots/make-checkout
  bots/tests-scan
Labels: test-external

#11658 Fix testNetworkingPage flake
  test/verify/check-networking-firewall
Labels: priority

#11650 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11654 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11667 [no-test] bots: Tests non-master branches for welder-web
  bots/tests-scan
Labels: test-external

#11668 [no-test] bots: Default repo to origin if not provided
  bots/make-checkout
Labels: test-external

#11334 services: Change filter dropdown to a native select
  pkg/systemd/init.js
  pkg/systemd/services.css
  pkg/systemd/services.html
  test/verify/check-services
Labels: accessibility

#11683 Update translations from Fedora Zanata
  po/cs.po
  po/fr.po
  po/pl.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#11681 bots/image-customize: Add --resize
  bots/image-customize
  test/verify/check-bots-api
Labels: test-external

#11690 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11673 systemd: Drop -i shell option in Terminal
  pkg/systemd/terminal.jsx
Labels: unrelated-test-failure

#11618 machines: implement creation of iscsi-direct storage pool
  pkg/machines/components/storagePools/createStoragePoolDialog.jsx
  pkg/machines/xmlCreator.js
  test/verify/check-machines-dbus
Labels: release-note

#11699 package.json: Update @babel/polyfill package dependency
  package.json
Labels: bot

#11700 test: Wait for Cockpit to catch up after resize
  test/verify/check-storage-resize
Labels: priority

#11703 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11705 bots: Declare rhel-8-0-distropkg test [no-test]
  bots/tests-scan
Labels: test-external

#11682 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11687 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11707 test: Fix race condition in TestSystemInfo.testTimeServers
  pkg/systemd/host.js
  test/verify/check-system-info
Labels: priority

#11695 bots, test: Introduce rhel-8-0-distropkg mode
  bots/images/scripts/rhel-8-0-distropkg.install
  test/verify/check-accounts
  test/verify/check-active-pages
  test/verify/check-connection
  test/verify/check-dashboard
  test/verify/check-docker
  test/verify/check-docker-storage
  test/verify/check-journal
  test/verify/check-kdump
  test/verify/check-kubernetes
  test/verify/check-machines-dbus
  test/verify/check-machines-virsh
  test/verify/check-multi-machine
  test/verify/check-networking-firewall
  test/verify/check-openshift
  test/verify/check-ovirt
  test/verify/check-pages
  test/verify/check-realms
  test/verify/check-services
  test/verify/check-session
  test/verify/check-sosreport
  test/verify/check-storage-format
  test/verify/check-storage-luks
  test/verify/check-storage-resize
  test/verify/check-subscriptions
  test/verify/check-system-info
  test/verify/check-terminal
  test/verify/packagelib.py
Labels: test-external
