Repository cockpit-project/cockpit, pull requests merged in 2019-08, with the labels that each got.

#12467 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12440 services: Enable restarting static services
  pkg/systemd/service-details.jsx
Labels: release-blocker, release-note

#12445 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12477 bots: Use .cockpit-ci/run as entry point in tests-invoke
  bots/tests-invoke
Labels: test-external

#12479 bots: Only use fresh log.html on master branch
  bots/tests-invoke
Labels: test-external

#12475 po: Update translations from Zanata
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: backport

#12483 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12469 spec: Add alternative docker-ce dependency to cockpit-docker
  tools/cockpit.spec
Labels: no-test

#12486 bots: Enable automatic testing of mvollmer/subscription-manager
  bots/task/testmap.py
Labels: test-external

#12489 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12468 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12470 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12497 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12471 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#12495 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12496 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12473 machines: extend create storage pool dialog to support LVM pools
  pkg/machines/components/storagePools/createStoragePoolDialog.jsx
  pkg/machines/components/storagePools/storagePoolOverviewTab.jsx
  pkg/machines/libvirt-common.js
  pkg/machines/xmlCreator.js
  test/verify/check-machines-dbus
Labels: release-note

#12494 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12492 tls: Move data reading/writing into Connection
  src/tls/connection.c
  src/tls/connection.h
  src/tls/server.c
  src/tls/test-connection.c
Labels: release-blocker

#12516 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/pt_BR.po
  po/uk.po
Labels: bot

#12521 test: use PATH for virsh in vm-run
  bots/vm-run
Labels: test-external

#12509 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12532 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12518 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#12536 test: Mention port in README
  test/README.md
Labels: no-test, test-external

#12535 build: don't delete test/ directories in autogen
  Makefile.am
  autogen.sh
Labels: no-test

#12537 autogen.sh: make npm install *more* robust
  autogen.sh
Labels: no-test

#12542 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12551 bots: windows-10.bootstrap improvements
  bots/images/scripts/windows-10.bootstrap
Labels: no-test, test-external

#12533 Add more actions into services
  pkg/systemd/service-details.jsx
  test/verify/check-services
Labels: unrelated-test-failure

#12545 naughty: Close 12250: apparmor denies sys_rawio capability from libvirtd which happens when using scsi disks
  bots/naughty/debian-stable/12250-apparmor-libvirt-rawio
  bots/naughty/debian-testing/12250-apparmor-libvirt-rawio
  bots/naughty/ubuntu-1804/12250-apparmor-libvirt-rawio
  bots/naughty/ubuntu-stable/12250-apparmor-libvirt-rawio
Labels: bot, test-external

#12456 bots: Post learn-tests training data only to centosci
  bots/learn-tests
  bots/learn-trigger
Labels: no-test, test-external

#12553 Add fedora-30/tar test context for weldr/lorax
  bots/task/testmap.py
Labels: test-external

#12557 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12558 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12560 bots: Drop obsolete cockpit-composer/rhel-8.1 branch
  bots/task/testmap.py
Labels: no-test, test-external

#12561 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12566 A very important fix :)
  HACKING.md
Labels: no-test

#12411 bots: Enable passing test branch in test name
  bots/tests-invoke
  bots/tests-scan
Labels: no-test, test-external

#12570 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12556 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12550 package.json: Update react package dependency
  package.json
Labels: bot

#12567 machines: Enable interface type "direct" in NIC configuration
  pkg/machines/app.jsx
  pkg/machines/components/nicEdit.jsx
  pkg/machines/components/vm/vm.jsx
  pkg/machines/components/vmnetworktab.jsx
  pkg/machines/hostvmslist.jsx
  pkg/machines/libvirt-dbus.js
  test/verify/check-machines-dbus
Labels: release-note

#12576 Fix typo in HACKING
  HACKING.md
Labels: no-test

#12575 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/uk.po
Labels: bot

#12572 bots: Add new contexts on image-refreshes
  bots/image-refresh
Labels: no-test, test-external

#12583 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12552 Fix issue with jumping action buttons in WebKit browsers
  pkg/docker/docker.css
  pkg/lib/cockpit-components-listing.jsx
  pkg/lib/cockpit-components-modifications.css
  pkg/lib/cockpit-components-modifications.jsx
  pkg/lib/listing.less
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
  test/verify/check-networking-firewall
  test/verify/check-system-info
  test/verify/storagelib.py
Labels: release-blocker, test-external

#12578 po: Generate translations from manifests again
  po/Makefile.am
  po/manifest2po
Labels: no-test

#12587 bots: Make naughty a bit more general
  bots/naughty/rhel-8/12539-libvirtd-crash-domain-destroy-altern
Labels: no-test, test-external

#12592 Check for NPM dependency updates
  package.json
Labels: bot

#12594 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12569 bots: Use virtio-net instead of rtl8139 network cards for our VMs
  bots/machine/machine_core/cli.py
  bots/machine/machine_core/machine_virtual.py
  bots/vm-run
  test/common/testlib.py
  test/selenium/run-tests
  test/verify/check-bots-api
Labels: test-external

#12601 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12604 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12606 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12588 test: Retry every failure, not just the ones we deem flakes
  bots/task/log.html
  test/common/testlib.py
Labels: test-external

#12602 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12426 Let make-checkout produce a "standalone" directory
  .gitignore
  bots/issue-scan
  bots/make-checkout
  bots/tests-invoke
  bots/tests-scan
Labels: no-test, test-external

#12607 bots: Test mvollmer/subscription-manager on rhel-8-1
  bots/task/testmap.py
Labels: test-external

#12612 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12611 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12608 bots: Only keep images from PRs that actually changed in the PR
  bots/image-prune
Labels: no-test, test-external

#12599 hwinfo: Never show 'undefined' in HW field
  pkg/systemd/host.js
  pkg/systemd/hw-detect.js
  pkg/systemd/hwinfo.jsx
  test/verify/check-system-info
Labels: release-blocker

#12615 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12616 package.json: Update uuid package dependency
  package.json
Labels: bot

#12577 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12622 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12631 naughty: Close 12057: avc: denied { write } for comm="dhclient" name="NetworkManager" dev="tmpfs"
  bots/naughty/rhel-8/12057-selinux-dhclient-tmpfs
Labels: bot, test-external

#12630 naughty: Close 12086: rhel-8-1 Adding service into permanent configuration via DBus api suddenly requires 9 values
  bots/naughty/rhel-8/12086-firewall-addservice-fails
Labels: bot, test-external

#12628 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12626 Check for NPM dependency updates
  package.json
Labels: bot

#12613 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12610 eslintrc: Set "root" to true
  .eslintrc.json
  bots/README.md
Labels: no-test, test-external

#12632 Image refresh for rhel-8-1
  bots/images/rhel-8-1
Labels: bot, test-external

#12640 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12642 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot

#12637 bots: When unknown branch do not trigger any contexts
  bots/tests-scan
Labels: no-test, test-external

#12650 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12645 Re-enable Azure test for weldr/lorax. Refs #12059
  bots/task/testmap.py
Labels: no-test, test-external

#12652 bots: Unstage bots in make-checkout after checkout with force
  bots/make-checkout
Labels: no-test, test-external

#12641 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12656 bots: Add new contexts in testmap
  bots/task/testmap.py
Labels: no-test

#12657 tools: Move release-guide from bots/
  tools/cockpituous-release
  tools/release-guide
Labels: no-test

#12653 bots: Add new triggers to image-refresh
  bots/image-refresh
Labels: no-test

#12659 tools: Fix release-guide test mode
  tools/release-guide
Labels: no-test

#12658 bots: Clean up obsolete image-naughty
  bots/image-naughty
  bots/task/test-policy
  bots/tests-policy
Labels: no-test

#12660 machines: Translate strings
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
Labels: no-test

#12639 tools: Add Fedora 31 to release script
  tools/cockpituous-release
Labels: no-test, test-external

#12665 bots: Drop hack in run-queue, always specify repo
  bots/run-queue
Labels: no-test

#12663 machines: fix string translations in status cards
  pkg/machines/components/aggregateStatusCards.jsx
  test/verify/check-machines-dbus
  test/verify/machineslib.py
Labels: no-test

#12635 machines: When receiving *EVENT_DEFINED add a minimal representation of the resource to the state
  pkg/machines/components/networks/networkList.jsx
  pkg/machines/components/storagePools/storagePoolList.jsx
  pkg/machines/libvirt-dbus.js
  pkg/machines/reducers.js
  test/verify/check-machines-dbus
Labels: release-blocker
