Repository cockpit-project/cockpit, pull requests merged in 2019-06, with the labels that each got.

#11971 Fix 'errno imported but unused' and 'undefined name 'DATA' flake8 war…
  bots/image-create
  bots/image-prune
  bots/tests-invoke
Labels: no-test, test-external

#11975 [no-test] Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11974 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11957 naughty: Close 11477: joining IPA domain causes SELinux violation: avc: denied { getattr } for comm="ipa-submit"
  bots/naughty/rhel-7/11477-selinux-ipa-submit-getattr
Labels: bot, test-external

#11968 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#11977 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11980 build: Ship integration tests in release tarballs again
  Makefile.am
Labels: no-test

#11979 Update translations from Fedora Zanata
  po/fr.po
  po/ja.po
  po/pl.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#11976 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#11988 [no-test] Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11991 [no-test] Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11990 [no-test] Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11992 [no-test] Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11993 [no-test] Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11996 Image refresh fixes [no-test]
  bots/image-refresh
Labels: test-external

#12000 naughty: Close 11365: rhel-8-0: LVM-VDO-LVM sandwich layout broken
  bots/naughty/rhel-8/11365-lvm-vdo
Labels: bot, test-external

#12002 [no-test] Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12003 bots: Drop most fedora-29 tests
  bots/tests-scan
Labels: no-test, test-external

#12006 bots: Run lorax' vmware and openstack tests on internal machines only
  bots/tests-scan
Labels: no-test, test-external

#12009 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#12008 bots: Mitigate fundamental race condition in image-refresh
  bots/image-refresh
  bots/task/__init__.py
  bots/task/test-task
Labels: no-test, test-external

#12010 bots: Don't make assumption about the exit code of the test runner
  bots/tests-invoke
Labels: test-external

#12012 bots: GitHub cache retains resources for 60s, so retry over 120s
  bots/image-refresh
  bots/task/__init__.py
Labels: no-test, test-external

#12021 Check for NPM dependency updates
  package.json
Labels: bot

#12025 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12024 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12029 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12026 Image refresh for rhel-8-1
  bots/images/rhel-8-1
Labels: bot, test-external

#12027 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#12028 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12034 Enable lorax cloud tests
  bots/tests-scan
Labels: no-test, test-external

#12037 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12036 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12035 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12039 bots: Drop verify/fedora-29 test from image-refresh
  bots/image-refresh
Labels: no-test, test-external

#12023 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12018 ssh: Gracefully handle failing g_hmac_new()
  src/ssh/cockpitsshknownhosts.c
Labels: unrelated-test-failure

#12042 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11946 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12040 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#12048 naughty: Close 11724: SELinux is preventing iscsid from 'map' accesses
  bots/naughty/fedora-30/11724-selinux-denies-iscsid-from-map
  bots/naughty/rhel-8/11724-selinux-denies-iscsid-from-map
Labels: bot, test-external

#12050 naughty: Close 7891: check-machines fails due to SELinux denial: virtlogd cannot access D-Bus
  bots/naughty/rhel-7/7891-selinux-denies-virtlogd-dbus
  bots/naughty/rhel-7/7891-selinux-denies-virtlogd-dbus-2
  bots/naughty/rhel-8/7891-selinux-denies-virtlogd-dbus
  bots/naughty/rhel-8/7891-selinux-denies-virtlogd-dbus-2
Labels: bot, test-external

#11925 [no-test] Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#12046 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12053 bots: Add tests-trigger --requeue option
  bots/tests-trigger
Labels: no-test, test-external

#12058 bots: Add naughty for SELinux dhclient regression on RHEL 8.1
  bots/naughty/rhel-8/12057-selinux-dhclient-tmpfs
Labels: no-test, priority, test-external

#12059 bots: Disable lorax/azure test
  bots/tests-scan
Labels: no-test, test-external

#12055 bots: Remove the need for a source directory in image-create
  bots/image-create
  bots/images/scripts/debian.setup
  bots/images/scripts/fedora.setup
  bots/images/scripts/lib/build-deps.sh
  bots/images/scripts/rhel.setup
Labels: bot, no-test, test-external

#12071 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#12070 package.json: Update jquery package dependency
  package.json
Labels: bot

#12075 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12074 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12072 containers: Add GnuTLS devel build dependency to unit-tests
  containers/unit-tests/Dockerfile
Labels: no-test

#12073 bots: Fix triggered tests for openshift image refreshes
  bots/image-refresh
Labels: no-test, test-external

#12083 Update translations from Fedora Zanata
  po/ko.po
  po/ru.po
Labels: bot

#12095 naughty: Close 11614: SELinux denies iscsid { read } for modules.dep.bin and modules.softdep
  bots/naughty/fedora-30/11614-selinux-denying-iscsi_tcp-module-load
  bots/naughty/rhel-8/11614-selinux-denying-iscsi_tcp-module-load
Labels: bot, test-external

#12099 bots: add naughty for podman crash on fedora-30
  bots/naughty/fedora-30/12098-podman-image-deletion-listing-crash
Labels: no-test, test-external

#12102 bots: add naughty for podman crash on fedora-30
  bots/naughty/fedora-30/12098-podman-image-deletion-listing-crash-2
Labels: no-test, test-external

#12077 bots: Test cockpit-podman on RHEL 8.1
  bots/image-refresh
  bots/tests-scan
Labels: no-test, test-external

#12101 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12106 bots: Stop testing Cockpit master on RHEL/CentOS 7
  bots/image-refresh
  bots/tests-scan
Labels: no-test, test-external

#12116 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12119 bots: Use correct import
  bots/learn-tests
Labels: no-test, test-external

#12115 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, no-test, test-external

#12123 bots: Fetch tree in prune if refs is not found
  bots/image-prune
Labels: no-test, test-external

#12108 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12124 bots: Temporarily disable host key checking for the sink
  bots/task/sink.py
Labels: no-test, priority, test-external

#12113 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12111 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12126 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#12129 Revert "bots: Temporarily disable host key checking for the sink"
  bots/task/sink.py
Labels: no-test, test-external

#12109 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, no-test, test-external

#12114 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, needswork, test-external

#12127 Drop everything related to cockpit-machines-ovirt package
  Makefile.am
  bots/image-create
  bots/image-trigger
  bots/images/scripts/ovirt.setup
  doc/guide/Makefile-guide.am
  doc/guide/cockpit-guide.xml
  doc/guide/feature-ovirt.xml
  doc/guide/feature-virtualmachines.xml
  pkg/Makefile.am
  pkg/machines/components/vnc.jsx
  pkg/ovirt/actions.js
  pkg/ovirt/components/App.jsx
  pkg/ovirt/components/ClusterTemplates.jsx
  pkg/ovirt/components/ClusterVms.jsx
  pkg/ovirt/components/ConfirmButtons.jsx
  pkg/ovirt/components/ConsoleClientResources.jsx
  pkg/ovirt/components/HostStatus.css
  pkg/ovirt/components/HostStatus.jsx
  pkg/ovirt/components/HostToMaintenance.css
  pkg/ovirt/components/HostToMaintenance.jsx
  pkg/ovirt/components/InstallationDialog.css
  pkg/ovirt/components/InstallationDialog.jsx
  pkg/ovirt/components/OVirtTab.css
  pkg/ovirt/components/OVirtTab.jsx
  pkg/ovirt/components/VdsmView.css
  pkg/ovirt/components/VdsmView.jsx
  pkg/ovirt/components/VmActions.jsx
  pkg/ovirt/components/VmOverviewColumn.css
  pkg/ovirt/components/VmOverviewColumn.jsx
  pkg/ovirt/components/infoRecord.jsx
  pkg/ovirt/components/vcpuModal.jsx
  pkg/ovirt/config.js
  pkg/ovirt/configFuncs.js
  pkg/ovirt/helpers.js
  pkg/ovirt/index.html
  pkg/ovirt/index.js
  pkg/ovirt/install.sh
  pkg/ovirt/manifest.json.in
  pkg/ovirt/ovirt.js
  pkg/ovirt/ovirt.less
  pkg/ovirt/ovirtApiAccess.js
  pkg/ovirt/ovirtConverters.js
  pkg/ovirt/provider.js
  pkg/ovirt/reducers.js
  pkg/ovirt/rephraseUI.js
  pkg/ovirt/selectors.js
  pkg/ovirt/store.js
  test/avocado/run-tests
  test/verify/check-ovirt
  test/verify/machineslib.py
  tools/cockpit.spec
  tools/debian/rules
  tools/gen-spec-dependencies
  webpack.config.js
Labels: test-external

#12132 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12131 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12136 package.json: Pin down eslint-plugin-react to avoid 7.14.0
  package.json
Labels: no-test, priority

#12091 bots: Let run-queue interpret the github webhook events
  bots/run-queue
Labels: no-test, test-external

#12146 bots: Fix pyflakes error in run-queue
  bots/run-queue
Labels: no-test, priority, test-external

#12145 bots: Double timeout for selenium/edge test
  bots/tests-invoke
Labels: no-test, priority, test-external

#12147 bots: Eliminate tap.py symlink
  bots/tap.py
  bots/test-bots
Labels: test-external

#12148 bots: Adapt to pika 1
  bots/inspect-queue
  bots/run-queue
  bots/tests-scan
Labels: blocked, no-test, test-external

#12156 Update translations from Fedora Zanata
  po/cs.po
  po/ko.po
  po/pl.po
  po/ru.po
  po/uk.po
Labels: bot

#12149 Automatically start tests for lorax on RHEL 7
  bots/tests-scan
Labels: test-external

#12159 Revert "package.json: Update xterm package dependency"
  package.json
  pkg/lib/cockpit-components-terminal.jsx
Labels: priority

#12161 docker: Change menu label to "Docker Containers"
  pkg/docker/manifest.json.in
  test/avocado/selenium-docker.py
  test/verify/check-docker
Labels: no-test, release-note

#12163 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12170 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12172 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12171 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12173 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#12181 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12187 naughty: Close 8871: Fedora 28: SELinux denies port binding to rpcbind.service
  bots/naughty/fedora-29/8871-selinux-rpcbind
  bots/naughty/rhel-8/8871-selinux-rpcbind
Labels: bot, test-external

#12190 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external
