Repository cockpit-project/cockpit, pull requests merged in 2019-01, with the labels that each got.

#10893 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10895 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10900 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10894 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10853 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10854 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#10910 Update translations from Fedora Zanata
  po/cs.po
  po/uk.po
Labels: bot

#10918 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10919 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#10913 bots: Add tests for new rhel-7.7 branch
  bots/tests-scan
Labels: test-external, unrelated-test-failure

#10916 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10922 test: Allow "which: no python" when restarting/reloading
  test/common/testlib.py
  test/verify/check-apps
Labels: priority

#10924 Image refresh for ipa
  bots/images/ipa
Labels: bot, test-external

#10933 naughty: Close 10700: subscription-manager crashes: the 'dbus-python' distribution was not found
  bots/naughty/rhel-8-0/10700-rhsm-dbus-python
Labels: bot, test-external

#10936 Update translations from Fedora Zanata
  po/ko.po
  po/ru.po
Labels: bot, priority

#10937 storage: Correctly pick up initial navigation location
  pkg/storaged/devices.jsx
Labels: priority

#10934 naughty: Close 9918: cockpit-ssh crashes on a FIPS 140-2 compliant system
  bots/naughty/rhel-7/9918-cockpit-ssh-crash-md5
Labels: bot, test-external

#10939 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10938 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10948 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10928 bots: Publish commands generated by tests-scan to amqp
  bots/tests-scan
Labels: test-external

#10962 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#10961 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#10966 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#10959 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#10952 test: first draft of doc of hacking selenium and avocado tests
  test/README.md
  test/avocado/README.md
Labels: test-external

#10980 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#10716 Use AMQP queue in tests-scan
  .tasks
  bots/image-refresh
  bots/make-checkout
  bots/run-queue
  bots/task/github.py
  bots/tests-invoke
  bots/tests-scan
  bots/tests-trigger
Labels: test-external

#10993 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#10995 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#10999 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#10998 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#11001 bots: Enable sudo rule on IPA server
  bots/images/ipa
  bots/images/scripts/ipa.setup
  doc/guide/sso.xml
  test/verify/check-realms
Labels: bot, test-external, unrelated-test-failure

#11014 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11013 package.json: Update @babel/polyfill package dependency
  package.json
Labels: bot

#11016 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11018 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11017 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11026 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11024 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11038 Update translations from Fedora Zanata
  po/cs.po
  po/fr.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: bot

#11046 package.json: Update moment package dependency
  package.json
Labels: bot

#11047 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11053 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11057 package.json: Update xterm package dependency
  package.json
Labels: bot

#11063 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11064 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11069 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11061 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11062 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11044 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11074 naughty: Close 10901: ipa-getcert crashes in ipa-submit
  bots/naughty/fedora-29/10901-ipa-getcert-crash
Labels: bot, test-external

#11075 naughty: Close 10898: kvdo broken on current rhel-8: kernel version mismatch
  bots/naughty/rhel-8-0/10898-kvdo-missing
Labels: bot, test-external

#11076 naughty: Close 10816: Leaving IPA domain fails: Unable to activate profile [sssd] [22]: Invalid argument
  bots/naughty/rhel-8-0/10816-authselect-activate-sssd
Labels: bot, test-external

#11077 naughty: Close 9722: iptables: Bad rule (does a matching rule exist in that chain?)
  bots/naughty/debian-testing/9722-firewalld-bad-rule-3
  bots/naughty/rhel-8-0/9722-firewalld-bad-rule
  bots/naughty/rhel-8-0/9722-firewalld-bad-rule-2
  bots/naughty/rhel-8-0/9722-firewalld-bad-rule-3
Labels: bot, test-external

#11079 lib/dialog: Don't render after dialog has been removed
  pkg/lib/cockpit-components-dialog.jsx
Labels: priority

#11080 Update translations from Fedora Zanata
  po/cs.po
  po/fr.po
  po/nl.po
  po/pl.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#11087 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11030 storage: Minimally test snapshots of thin volumes
  bots/naughty/debian-testing/11032-udisks2-fails-with-thin-snapshots
  bots/naughty/fedora-29/11032-udisks2-fails-with-thin-snapshots
  bots/naughty/rhel-7/11032-udisks2-fails-with-thin-snapshots
  bots/naughty/rhel-8-0/11032-udisks2-fails-with-thin-snapshots
  test/verify/check-storage-lvm2
Labels: test-external

#11085 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#10991 bots: Consume test tasks from amqp
  .tasks
  bots/image-refresh
  bots/inspect-queue
  bots/make-checkout
  bots/run-queue
  bots/task/github.py
  bots/tests-invoke
  bots/tests-scan
  bots/tests-trigger
Labels: test-external
