Repository cockpit-project/cockpit, pull requests merged in 2019-05, with the labels that each got.

#11716 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11715 bots: Enable verify/rhel-8-0-distropkg test [no-test]
  bots/tests-scan
Labels: test-external

#11718 naughty: Close 10908: PackageKit often dumps core on current rhel-8
  bots/naughty/rhel-8/10908-packagekit-dumps-core
Labels: bot, test-external

#11710 storage: Move "Format" button to row header
  pkg/storaged/content-views.jsx
  pkg/storaged/crypto-tab.jsx
  pkg/storaged/format-dialog.jsx
  pkg/storaged/fsys-tab.jsx
  pkg/storaged/pvol-tabs.jsx
  pkg/storaged/swap-tab.jsx
  pkg/storaged/unrecognized-tab.jsx
  test/verify/check-storage-format
  test/verify/check-storage-hidden
  test/verify/check-storage-iscsi
  test/verify/check-storage-luks
  test/verify/check-storage-lvm2
  test/verify/check-storage-mounting
  test/verify/check-storage-msdos
  test/verify/check-storage-resize
  test/verify/check-storage-used
  test/verify/check-storage-vdo
Labels: release-note

#11722 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11723 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11713 bots: change github repository detection logic [no-test]
  bots/task/github.py
Labels: test-external

#11732 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11730 firewall: Fix page breaking when no services are enabled
  pkg/networkmanager/firewall-client.js
  test/verify/check-networking-firewall
Labels: unrelated-test-failure

#11739 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/uk.po
Labels: bot

#11742 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11741 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11750 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11759 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11761 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#11757 test: Wait longer for sosreport to finish [no-test]
  test/avocado/selenium-sosreport.py
Labels: priority

#11760 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11764 tests: remove unused variable img from testDelete
  test/verify/machineslib.py
Labels: priority

#11762 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11758 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11770 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11774 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11778 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot, unrelated-test-failure

#11786 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11793 bots: Move fedora-testing to Fedora 30 [no-test]
  bots/images/fedora-testing
  bots/images/scripts/fedora-testing.bootstrap
  bots/images/scripts/fedora-testing.install
  bots/naughty/fedora-testing
  test/common/testlib.py
  test/verify/check-kubernetes
  test/verify/check-openshift
  test/verify/kubelib.py
Labels: bot, test-external

#11795 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/uk.po
Labels: bot

#11797 package.json: Update xterm package dependency
  package.json
Labels: bot

#11794 bots: Drop openshift-prerelease image [no-test]
  bots/image-create
  bots/image-trigger
  bots/images/openshift-prerelease
  bots/images/scripts/openshift-prerelease.bootstrap
  bots/images/scripts/openshift-prerelease.install
  bots/images/scripts/openshift-prerelease.setup
  bots/images/scripts/openshift.setup
  test/verify/check-openshift
Labels: test-external

#11799 bots: Create download for image-download doesn't create dir
  bots/image-download
Labels: bot, test-external

#11800 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11808 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11811 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11804 bots: Fix image-download --state when file is skipped
  bots/image-download
Labels: test-external

#11818 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11819 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#11820 test: Wait for non-disabled button in TestFirewall.testAddServices
  test/verify/check-networking-firewall
Labels: priority, unrelated-test-failure

#11822 Revert "package.json: Update xterm package dependency"
  package.json
Labels: priority

#11821 test: Add another expected restart message
  test/common/testlib.py
Labels: priority

#11769 lib: Redesign On/Off switch
  pkg/kdump/kdump-view.jsx
  pkg/lib/cockpit-components-onoff.css
  pkg/lib/cockpit-components-onoff.jsx
  pkg/lib/cockpit-components-onoff.less
  pkg/networkmanager/firewall.jsx
  pkg/networkmanager/interfaces.js
  pkg/networkmanager/networking.css
  pkg/packagekit/autoupdates.jsx
  pkg/playground/react-demo-onoff.jsx
  pkg/selinux/setroubleshoot.css
  pkg/shell/credentials.js
  pkg/storaged/storage-controls.jsx
  pkg/systemd/host.js
  test/verify/check-kdump
  test/verify/check-keys
  test/verify/check-networking-bond
  test/verify/check-networking-firewall
  test/verify/check-packagekit
  test/verify/check-setroubleshoot
  test/verify/check-storage-vdo
  test/verify/check-system-info
  test/verify/netlib.py
Labels: release-note

#11829 [no-test] test: Close browser when avocado finishes
  test/avocado/testlib_avocado/cockpit.py
Labels: priority

#11823 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#11832 lib/onoff: Use Chrome blue focus by default; dots for Firefox
  pkg/lib/cockpit-components-onoff.less
Labels: priority

#11835 [no-test] bots: rename weldr-web to cockpit-composer in test-scan
  bots/tests-scan
Labels: test-external

#11810 ssh execute, write to stdout and stderr of sys in case it is not redirected
  bots/machine/machine_core/ssh_connection.py
Labels: test-external

#11845 tests: refactor assertVmStates method in machineslib to fix the testCreate
  test/verify/machineslib.py
Labels: priority

#11842 firewall: show zone names in "Add services" dialog
  pkg/networkmanager/firewall.jsx
Labels: unrelated-test-failure

#11828 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11847 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#11849 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11857 bots: Enable manual tests for weldr/lorax [no-test]
  bots/tests-scan
Labels: test-external

#11858 Update translations from Fedora Zanata
  po/pl.po
  po/uk.po
Labels: bot

#11854 bots: fix 'no-test' label [no-test]
  bots/push-rewrite
  bots/task/__init__.py
  bots/tests-scan
Labels: test-external

#11863 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11864 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11865 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11867 bots: Fix TOCTOU race in machine network setup
  bots/machine/machine_core/machine_virtual.py
Labels: test-external

#11868 tests: fix testDelete from machineslib which was checking wrong console file
  test/verify/machineslib.py
Labels: priority

#11860 Image refresh for ipa
  bots/images/ipa
Labels: bot, test-external

#11862 package.json: Update xterm package dependency
  package.json
Labels: bot

#11881 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#11884 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11887 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11877 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11568 Firewall zones
  pkg/networkmanager/firewall-client.js
  pkg/networkmanager/firewall.jsx
  pkg/networkmanager/networking.css
  pkg/networkmanager/utils.js
  test/verify/check-networking-firewall
Labels: test-external

#11886 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11882 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11880 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11893 bots: Enable automatic weldr/lorax tests on fedora-30
  bots/tests-scan
Labels: no-test, test-external

#11895 bots: Bump external test timeout to 2 hours
  bots/tests-invoke
Labels: no-test, test-external

#11879 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11908 containers: add --build option to run.sh
  containers/unit-tests/run.sh
Labels: no-test

#11911 [no-test] Revert "bots: Add naughty for podman missing parameter"
  bots/naughty/fedora-30/11902-podman-no-env-parameter
Labels: test-external

#11903 bots: Fix [no-test] for tasks
  bots/image-refresh
  bots/task/__init__.py
Labels: test-external

#11915 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot, unrelated-test-failure

#11920 Use /usr/bin/env python3 instead of /usr/bin/python3
  bots/example-task
  bots/flakes-refresh
  bots/github-info
  bots/image-create
  bots/image-customize
  bots/image-download
  bots/image-prepare
  bots/image-prune
  bots/image-refresh
  bots/image-trigger
  bots/image-upload
  bots/inspect-queue
  bots/issue-scan
  bots/issues-review
  bots/koji-build
  bots/learn-trigger
  bots/make-checkout
  bots/naughty-prune
  bots/naughty-trigger
  bots/npm-trigger
  bots/npm-update
  bots/po-refresh
  bots/po-trigger
  bots/push-rewrite
  bots/run-queue
  bots/task/__init__.py
  bots/task/cache.py
  bots/task/github.py
  bots/task/sink.py
  bots/task/test-cache
  bots/task/test-checklist
  bots/task/test-github
  bots/task/test-policy
  bots/task/test-task
  bots/test-bots
  bots/tests-data
  bots/tests-invoke
  bots/tests-policy
  bots/tests-scan
  bots/tests-score
  bots/tests-trigger
Labels: test-external

#11921 test: Fix pyflakes warnings
  test/avocado/selenium-hwinfo.py
  test/avocado/selenium-kdump.py
Labels: no-test

#11927 [no-test] Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11923 [no-test] Update translations from Fedora Zanata
  po/ca.po
  po/cs.po
  po/es.po
  po/fr.po
  po/ja.po
  po/pl.po
  po/pt_BR.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#11936 tests: fix pylint warning 'local variable 'ex' is assigned to but never used'
  test/verify/storagelib.py
Labels: priority

#11937 tasks: Fix [no-test]
  bots/task/__init__.py
Labels: test-external

#11940 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11941 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11947 test: Give more resources to windows-10 VM
  test/avocado/run-tests
Labels: no-test

#11944 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11945 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11942 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11948 Fix no test race [no-test]
  bots/image-refresh
  bots/task/__init__.py
Labels: test-external

#11943 ws: Introduce env var for changing process timeout
  src/ws/cockpitauth.c
  src/ws/cockpitws.h
  src/ws/test-auth.c
Labels: priority

#11938 package.json: Update patternfly-react package dependency
  package.json
Labels: bot, priority

#11951 cockpituous-release: Drop Fedora 29
  tools/cockpituous-release
Labels: no-test, priority

#11953 tools: Drop custom patch application
  tools/cockpit.spec
  tools/debian/control
  tools/debian/rules
Labels: no-test

#11950 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11955 naughty: Close 11660: SELinux is preventing pmdalinux from module_request access on the system labeled kernel_t
  bots/naughty/fedora-30/11660-module-request
Labels: bot, test-external

#11956 naughty: Close 11566: kvdo broken on current rhel-8-1: kernel version mismatch
  bots/naughty/rhel-8/11566-kvdo-missing
Labels: bot, test-external

#11958 Robustify testNetworkSettings by waiting for the networks to get inactive before undefining
  test/verify/check-machines-dbus
Labels: priority

#11926 [no-test] Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11959 bots: Add mvollmer/subscription-manager to tests-scan
  bots/tests-scan
Labels: no-test, test-external

#11963 bots: Fix tests-scan crash if a project doesn't have master tests
  bots/tests-scan
Labels: no-test, priority, test-external

#11965 tools: Add missing ssh-agent build dependency
  tools/cockpit.spec
Labels: priority

#11933 Specify test scenarios for lorax
  bots/tests-scan
Labels: no-test, test-external

#11970 bots: Use log.html for mvollmer/subscription-manager
  bots/tests-invoke
  bots/tests-scan
Labels: no-test, test-external

#11972 Fix typo in README
  bots/README.md
Labels: test-external

#11969 [no-test] Image refresh for rhel-8-1
  bots/images/rhel-8-1
Labels: bot, test-external
