Repository cockpit-project/cockpit, pull requests merged in 2019-09, with the labels that each got.

#12671 bots: Add fedora-31 to testmap
  bots/task/testmap.py
Labels: no-test

#12688 bots: Get list of changed files for pruning
  bots/image-prune
Labels: no-test, test-external

#12682 package.json: Update deep-equal package dependency
  package.json
Labels: bot

#12687 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12686 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12582 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#12690 bots: Adjust tests for openshift images
  bots/image-refresh
  bots/task/testmap.py
Labels: no-test, test-external

#12692 bots: Don't automatically run fedora-30/tar on lorax
  bots/task/testmap.py
Labels: test-external

#12681 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#12696 lib/form: Fix vim command typo in comment
  pkg/lib/form-layout.less
Labels: enhancement

#12697 bots: Make image-refresh PRs always no-test
  bots/image-refresh
Labels: bot

#12679 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12677 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12699 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, no-test, test-external

#12704 bots: Fix pyflakes errors
  bots/image-prune
  bots/image-refresh
Labels: no-test, release-blocker, test-external

#12706 machines: Fix handling of getOSList.py failures
  pkg/machines/libvirt-common.js
Labels: release-blocker

#12707 tests: Don't rely on resolving "localhost" in test-webserver
  src/common/test-webserver.c
Labels: release-blocker, unrelated-test-failure

#12709 bots: The rhel-7-8 image should be internal as well
  bots/image-refresh
Labels: test-external

#12712 tls: Fix GnuTLS version check for TLS 1.3 in test
  src/tls/test-server.c
Labels: release-blocker, unrelated-test-failure

#12717 test: Fix rhsmd cleanup in check-packagekit
  test/verify/check-packagekit
Labels: no-test

#12720 test: Fix PackageKit tests on ubuntu-1804 again
  test/verify/packagelib.py
Labels: no-test, release-blocker

#12724 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, no-test, test-external

#12725 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, no-test, test-external

#12097 Image refresh for rhel-atomic
  bots/naughty/rhel-atomic/8831-selinux-rhsmd
  bots/naughty/rhel-atomic/8831-selinux-rhsmd-dbus
  bots/naughty/rhel-atomic/8831-selinux-rhsmd-encodings
  bots/naughty/rhel-atomic/8831-selinux-rhsmd-subscription_manager
  bots/naughty/rhel-atomic/9598-selinux-dnsmasq-nm
Labels: bot, no-test, test-external

#12726 package.json: Update mustache package dependency
  package.json
Labels: bot

#12678 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12729 Fix paths in .css files that import from pkg/lib
  pkg/apps/application.css
  pkg/kdump/kdump.css
  pkg/selinux/setroubleshoot.css
  pkg/sosreport/sosreport.css
  pkg/systemd/host.css
  pkg/systemd/hwinfo.css
  pkg/users/users.css
Labels: no-test, release-blocker

#12733 machines: When receiving *EVENT_DEFINED add a minimal representation of the resource to the state
  pkg/machines/components/networks/networkList.jsx
  pkg/machines/components/storagePools/storagePoolList.jsx
  pkg/machines/libvirt-dbus.js
  pkg/machines/reducers.js
  test/verify/check-machines-dbus
Labels: backport

#12740 naughty: Close 11441: Listing timezones fails on Fedora 30
  bots/naughty/fedora-30/11441-listing-timezones-fail
Labels: bot, test-external

#12742 firewall: Only reload firewall when adding custom services
  pkg/networkmanager/firewall-client.js
  pkg/networkmanager/firewall.jsx
  test/verify/check-networking-firewall
Labels: backport

#12743 tls: Robustify /server/tls/client-cert-expired test
  src/tls/test-server.c
Labels: release-blocker

#12739 naughty: Close 12405: SELinux is preventing qemu-kvm to access /proc when running in tcg mode
  bots/naughty/rhel-8/12405-selinux-qemu-kvm-tcg
Labels: bot, test-external

#12749 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, no-test, test-external

#12748 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, no-test, test-external

#12741 test: Fix rhsmd cleanup in check-packagekit
  test/verify/check-packagekit
Labels: backport

#12751 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, no-test, test-external

#12756 Add test/run
  test/run
Labels: backport, no-test

#12754 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, no-test, test-external

#12757 tests: Adjust tests since atomic package is present again
  test/verify/check-docker
  test/verify/check-docker-storage
Labels: no-test

#12762 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, no-test, test-external

#12763 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, no-test, test-external

#12761 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, no-test, test-external

#12766 bots: Fix rpmlint script in fedora installs
  bots/images/scripts/lib/fedora.install
Labels: no-test, test-external

#12619 Fedora 31
  bots/image-refresh
  bots/image-trigger
  bots/images/fedora-31
  bots/images/scripts/fedora-31.bootstrap
  bots/images/scripts/fedora-31.install
  bots/images/scripts/fedora-31.setup
  bots/images/scripts/fedora.setup
  bots/images/scripts/lib/zero-disk.setup
  bots/naughty/fedora-31/10038-abrtd-crash-fn
  bots/naughty/fedora-31/10038-abrtd-crash-fn-2
  bots/naughty/fedora-31/12721-selinux-timedatectl
  bots/naughty/fedora-31/12721-selinux-timedatectl-2
  bots/naughty/fedora-31/12744-selinux-nm-system-cat
  bots/naughty/fedora-31/8905-nm-bond-autoconnect-slaves
  bots/naughty/fedora-31/8905-nm-bridge-autoconnect-slaves
  test/common/testlib.py
  test/verify/check-dashboard
  test/verify/check-docker
  test/verify/check-docker-storage
  test/verify/check-multi-machine
  test/verify/check-packagekit
  test/verify/machineslib.py
Labels: bot, test-external

#12752 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, no-test, test-external

#12722 bots: Specify cafile for requests to learn-cockpit
  bots/flakes-refresh
  bots/learn-tests
  bots/tests-policy
  bots/tests-score
Labels: test-external

#12791 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, no-test, test-external

#12797 po: Fix building PO template
  po/Makefile.am
Labels: no-test

#12792 Image refresh for rhel-8-1
  bots/images/rhel-8-1
Labels: bot, no-test, test-external

#12789 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, no-test, test-external

#12810 naughty: Close 12228: SELinux is preventing mdadm from 'read'
  bots/naughty/fedora-30/12228-selinux-mdadm-read
Labels: bot

#12809 naughty: Close 12355: SELinux is preventing sssd_be and cockpit_ssh from search access to krb5
  bots/naughty/rhel-8/12355-selinux-search-krb5
  bots/naughty/rhel-8/12355-selinux-search-krb5-2
Labels: bot

#12805 test: Fix expected error message when failing to stop a MDRAID
  test/verify/check-storage-mdraid
Labels: unrelated-test-failure

#12804 package.json: Update @patternfly/react-core package dependency
  package.json
Labels: bot

#12813 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, no-test

#12823 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, no-test

#12812 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, no-test

#12824 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, no-test

#12826 test: Don't test that loopback network traffic is ignored
  test/verify/check-metrics
Labels: unrelated-test-failure

#12827 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, no-test

#12832 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, no-test

#12831 Image refresh for ipa
  bots/images/ipa
Labels: bot, no-test

#12838 tools: Fail on untranslatable `` strings
  tools/test-static-code
Labels: no-test

#12768 Enable several lorax checks
  bots/task/testmap.py
Labels: test-external

#12842 Firewall custom services test wait zones
  test/verify/check-networking-firewall
Labels: unrelated-test-failure

#12846 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, no-test

#12845 pf3: Sync overrides with PF4
  src/base1/patternfly-overrides.less
Labels: enhancement

#12853 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, no-test

#12859 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, no-test

#12600 systemd: Highlight failed services
  pkg/systemd/host.css
  pkg/systemd/host.js
  pkg/systemd/index.html
  pkg/systemd/init.js
  pkg/systemd/manifest.json.in
  pkg/systemd/page-status.jsx
  pkg/systemd/services.css
  pkg/systemd/services.jsx
  test/verify/check-active-pages
  test/verify/check-services
Labels: release-note

#12860 test: Ignore SELinux rhsmd regression on RHEL 8.1
  test/common/testlib.py
Labels: backport

#12861 test: Ignore SELinux rhsmd regression on RHEL 8.1
  test/common/testlib.py
Labels: backport

#12863 package.json: Update @patternfly/patternfly package dependency
  package.json
Labels: bot

#12873 .tasks: The task bots now run bots/run-queue
  .tasks
Labels: no-test

#12875 Makefile: Add bots target
  Makefile.am
  autogen.sh
Labels: no-test

#12880 test: Skip Machines selenium tests on Edge for now
  test/selenium/run-tests
Labels: no-test

#12892 package.json: Update @patternfly/patternfly package dependency
  package.json
Labels: bot

#12882 package.json: Update @patternfly/react-table package dependency
  package.json
Labels: bot

#12894 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/ru.po
  po/uk.po
Labels: bot
