Repository cockpit-project/cockpit, pull requests merged in 2019-02, with the labels that each got.

#11097 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#11105 package.json: Pin down terser 3.14.1
  package.json
Labels: priority

#11100 bridge: Fix polkit policy file
  src/bridge/Makefile.am
Labels: priority

#11101 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11106 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11111 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11096 realmd: Show domain information and less scary leave dialog
  pkg/realmd/operation.html
  pkg/realmd/operation.js
  pkg/systemd/host.css
  test/verify/check-realms
Labels: unrelated-test-failure

#11118 Update translations from Fedora Zanata
  po/da.po
  po/pt_BR.po
  po/ru.po
  po/zh_CN.po
Labels: bot, priority

#11117 naughty: Close 9330: leaving IPA domain fails with: Failed to remove krb5/LDAP configuration: expected str, bytes or os.PathLike object, not NoneType
  bots/naughty/fedora-29/9330-ipa-leave-domain-None
Labels: bot, test-external

#11119 storage: Fix pre-filling of options in the "Filesystem Mounting" dialog
  pkg/storaged/fsys-tab.jsx
Labels: priority, unrelated-test-failure

#11110 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11123 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11115 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11128 bots: Update image server CA
  bots/images/files/ca.pem
Labels: priority

#11133 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11143 Image refresh for selenium
  bots/images/selenium
Labels: bot, test-external

#11147 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11151 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11157 package.json: Update prop-types package dependency
  package.json
Labels: bot

#11159 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11109 bots: Add ssl support for amqp interaction
  .tasks
  bots/inspect-queue
  bots/run-queue
  bots/tests-scan
Labels: test-external

#11167 naughty: Close 10565: SELinux denial: Unable to open config database [/var/lib/sss/db/config.ldb] on fedora-testing
  bots/naughty/fedora-29/10565-selinux-chpasswd-sss-cache
  bots/naughty/rhel-8-0/10565-selinux-chpasswd-sss-cache
Labels: bot, test-external

#11166 naughty: Close 10586: SELinux is preventing systemd-timesyncd from using the 'nnp_transition'
  bots/naughty/fedora-29/10586-selinux-timesyncd-nnp_transition
Labels: bot, test-external

#11168 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/uk.po
Labels: bot

#11172 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11173 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#11178 bots: Also check contexts with repo cli argument
  bots/tests-scan
Labels: test-external

#11180 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#11186 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11187 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11189 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11188 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11195 Image refresh for rhel-atomic
  bots/images/rhel-atomic
Labels: bot, test-external

#11190 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11192 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11193 Image refresh for fedora-i386
  bots/images/fedora-i386
Labels: bot, test-external

#11200 bots: Fix heartbeat in run-queue
  bots/run-queue
Labels: priority, test-external

#11194 package.json: Update prop-types package dependency
  package.json
Labels: bot

#11184 bots: Check for [no-test] in tests-scan [no-test]
  bots/tests-scan
Labels: needswork

#11209 naughty: Close 10011: "E0906 Failed to create cgroup" when creating pod on fedora-29
  bots/naughty/fedora-29/10011-kubernetes-e0906-on-pod-create
  bots/naughty/fedora-29/10011-kubernetes-e0906-on-pod-create-2
Labels: bot, test-external

#11182 terminal: Introduce themes
  pkg/lib/cockpit-components-terminal.jsx
  pkg/lib/console.css
  pkg/systemd/terminal.css
  pkg/systemd/terminal.jsx
  test/verify/check-terminal
Labels: priority

#11213 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#11174 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#11142 Image refresh for openshift-prerelease
  bots/images/openshift-prerelease
Labels: bot, test-external

#11220 Update translations from Fedora Zanata
  po/cs.po
  po/pl.po
  po/uk.po
Labels: bot

#11231 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#11233 package.json: Update react package dependency
  package.json
Labels: bot

#11238 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#11244 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#11243 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#11250 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#11266 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#11257 package.json: Update react-dom package dependency
  package.json
Labels: bot

#11267 Update translations from Fedora Zanata
  po/cs.po
  po/da.po
  po/pl.po
  po/uk.po
Labels: bot

#11242 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#11249 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#11256 package.json: Update patternfly-react package dependency
  package.json
Labels: bot
