Repository cockpit-project/cockpit, pull requests merged in 2019-07, with the labels that each got.

#12191 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12182 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#12199 machines: implement deletion of Virtual Networks
  pkg/machines/components/networks/network.jsx
  pkg/machines/components/networks/networkDelete.jsx
  pkg/machines/libvirt-dbus.js
  test/verify/check-machines-dbus
Labels: release-note

#12203 tools: Fix for git worktree
  tools/git-version-gen
  tools/test-static-code
Labels: no-test

#12200 test: Add public method for executing JS through Selenium
  test/avocado/selenium-kdump.py
  test/avocado/testlib_avocado/seleniumlib.py
Labels: no-test

#12207 Update translations from Fedora Zanata
  po/cs.po
  po/de.po
  po/fi.po
  po/ko.po
  po/pl.po
  po/uk.po
  po/zh_TW.po
Labels: bot

#12209 po: Refresh all files
  po/ca.po
  po/cs.po
  po/de.po
  po/es.po
  po/fi.po
  po/fr.po
  po/it.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/sv.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: no-test, unrelated-test-failure

#12212 bots: Fix repo NameError in run-queue
  bots/run-queue
Labels: no-test

#12213 bots: Assign repo first in run-queue
  bots/run-queue
Labels: no-test

#12214 bots: KeyError in run-queue, action is part of the http request
  bots/run-queue
Labels: no-test

#12215 Only run issue-scan directly if AMQP_SERVER is not set
  .tasks
Labels: no-test, test-external

#12224 bots: Ack AMQP message on failed tasks in run-queue
  bots/run-queue
Labels: no-test, test-external

#12226 bots: Test verify/rhel-8-0-distropkg on rhel-8-0 refreshes
  bots/image-refresh
Labels: no-test, test-external

#12223 test: Add --list option to test/check* scripts
  test/common/testlib.py
Labels: no-test

#12222 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12230 bots: Fix image-prune --checkout-only
  bots/image-prune
Labels: no-test, test-external

#12231 bots: Fix image rebuilds in pull requests
  bots/issue-scan
Labels: no-test, test-external

#12227 bots: Only issue-scan edited issues if the body was changed
  bots/run-queue
Labels: no-test, test-external

#12219 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#12229 bots: Add naughty for mdadm AVC
  bots/naughty/fedora-30/12228-selinux-mdadm-read
Labels: no-test

#12196 login: Restyle login page to look like PatternFly 4
  src/branding/default/bg-plain.jpg
  src/ws/login.css
  src/ws/login.html
Labels: enhancement

#12233 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12236 tools: Re-drop subscription-manager-cockpit dependency on Fedora
  tools/cockpit.spec
Labels: no-test, release-blocker

#12238 bots: Add missing test triggers for selenium image refreshes
  bots/image-refresh
Labels: no-test, test-external

#12240 bots: Correct extra whitespace in action check in run-queue
  bots/run-queue
Labels: no-test, test-external

#12234 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12237 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#12241 bots: Reduce pika logging and fix distributed_queue pika import
  bots/task/distributed_queue.py
Labels: no-test, test-external

#12246 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12251 bots: Add naughty for libvirt CAP_SYS_RAWIO denial on Debian
  bots/naughty/debian-testing/12250-apparmor-libvirt-rawio
Labels: no-test, release-blocker, test-external

#12248 bots: debian-stable is now 10 (buster)
  bots/images/debian-stable
  bots/images/scripts/debian-stable.install
  bots/images/scripts/debian.setup
  bots/naughty/debian-stable/11032-udisks2-fails-with-thin-snapshots
  bots/naughty/debian-stable/11032-udisks2-fails-with-thin-snapshots-2
  bots/naughty/debian-stable/11265-virt-install-fails-vnc
  bots/naughty/debian-stable/11381-pxe-boot-logs-serial-console-libvirt
  bots/naughty/debian-stable/12250-apparmor-libvirt-rawio
  bots/naughty/debian-stable/6108-pcp-pmfindprofile-crash
  bots/naughty/debian-stable/7854-udisks-polkit-crash
  bots/naughty/debian-stable/8905-nm-bond-autoconnect-slaves
  bots/naughty/debian-stable/8905-nm-bridge-autoconnect-slaves
  bots/naughty/debian-stable/8905-nm-team-autoconnect-slaves
  test/common/testlib.py
  test/verify/check-accounts
  test/verify/check-docker
  test/verify/check-docker-storage
  test/verify/check-metrics
  test/verify/check-multi-machine
  test/verify/check-networking-firewall
  test/verify/check-pages
  test/verify/check-realms
  test/verify/check-storage-hidden
  test/verify/check-storage-mdraid
  test/verify/check-storage-multipath
  test/verify/check-storage-resize
  test/verify/check-system-info
  test/verify/check-tuned
  test/verify/machineslib.py
  tools/debian/adjust-for-release
Labels: bot, no-test, test-external

#12257 bots: Add naughty for libvirt CAP_SYS_RAWIO denial to Ubuntu images
  bots/naughty/ubuntu-1804/12250-apparmor-libvirt-rawio
  bots/naughty/ubuntu-stable/12250-apparmor-libvirt-rawio
Labels: no-test, test-external

#12258 HACKING: Update test and image build dependencies
  HACKING.md
Labels: no-test

#12261 tools: Prevent flash of text while loading fonts
  tools/patternfly.sed
Labels: release-blocker

#12247 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12243 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot

#12270 Update translations from Fedora Zanata
  po/cs.po
  po/de.po
  po/ja.po
  po/ko.po
  po/pl.po
  po/uk.po
  po/zh_CN.po
  po/zh_TW.po
Labels: bot, release-blocker

#12252 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#12277 containers: Use /entrypoint for unit-tests/exec
  containers/unit-tests/exec
Labels: no-test

#12276 firewall: Move "default" zone text outside of icon
  pkg/networkmanager/firewall.jsx
Labels: release-blocker

#12274 test: Only request client certificate when needed in test-httpstream
  src/bridge/test-httpstream.c
Labels: release-blocker

#12275 tools: support string "author" fields in package.json files
  tools/build-debian-copyright
Labels: release-blocker

#12278 tests: skip slow tests under valgrind
  Makefile.am
  src/common/cockpittest.c
  src/common/cockpittest.h
  src/ssh/test-sshbridge.c
Labels: release-blocker

#12289 containers: don't use xz --extreme for unit-tests
  Makefile.am
  containers/unit-tests/run.sh
Labels: no-test

#12299 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12301 HACKING.md: Update instructions for Debian/Ubuntu
  HACKING.md
Labels: no-test

#12306 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12305 Image refresh for debian-testing
  bots/images/debian-testing
Labels: bot, test-external

#12315 Image refresh for candlepin
  bots/images/candlepin
Labels: bot, test-external

#12325 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12326 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12335 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12333 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12336 journal: Restyle logs across all of Cockpit
  pkg/lib/journal.css
Labels: enhancement

#12337 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12342 Update translations from Fedora Zanata
  po/cs.po
  po/de.po
  po/fr.po
  po/ko.po
  po/pl.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#12343 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12332 Image refresh for openshift
  bots/images/files/openshift.kubeconfig
  bots/images/openshift
Labels: bot, test-external

#12347 bots: Stop testing obsolete rhel-7* images on master
  bots/image-refresh
Labels: no-test, test-external

#12346 bots: Drop koji-build
  bots/issue-scan
  bots/koji-build
Labels: no-test, test-external

#12352 Revert "bots: Temporarily switch internal image server"
  bots/task/__init__.py
Labels: no-test, test-external

#12292 selinux: Move modifications above alerts
  pkg/lib/cockpit-components-modifications.css
  pkg/selinux/setroubleshoot-view.jsx
  pkg/selinux/setroubleshoot.css
Labels: release-note

#12353 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#12356 bots: Put back libvirt-daemon-config-network onto our RHEL 7 images
  bots/images/centos-7
  bots/images/rhel-7-7
  bots/images/scripts/rhel.setup
Labels: bot, no-test, test-external

#12354 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12360 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12020 Show DIMM information on hardware page
  pkg/lib/machine-info.js
  pkg/systemd/hw-detect.js
  pkg/systemd/hwinfo.jsx
  test/verify/check-system-info
Labels: unrelated-test-failure

#12265 services: Redesign details page
  pkg/systemd/host.css
  pkg/systemd/init.js
  pkg/systemd/service-details.css
  pkg/systemd/service-details.jsx
  pkg/systemd/services.css
  pkg/systemd/services.html
  test/common/test-functions.js
  test/common/testlib.py
  test/verify/check-networking-basic
  test/verify/check-pages
  test/verify/check-realms
  test/verify/check-services
Labels: release-note

#12373 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12372 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12368 tests: Introduce `test/run` script for Cockpit
  .gitignore
  test/run
  tools/test-static-code
Labels: no-test

#12377 naughty: Close 11579: podman PullImage varlink API broken on fedora-29 when the tag specified does not exist
  bots/naughty/fedora-29/11579-podman-pull-non-existing-tag-crash-no-coredump-available
  bots/naughty/fedora-29/11579-podman-pull-nonexisting-tag-crash
  bots/naughty/fedora-30/11579-podman-pull-non-existing-tag-crash-no-coredump-available
  bots/naughty/fedora-30/11579-podman-pull-nonexisting-tag-crash
Labels: bot, test-external

#12379 test: Do not enable to run kubernetes tests
  test/run
Labels: no-test

#12380 bots: Always pass TEST_PROJECT to tests-invoke no.2
  bots/tests-scan
Labels: no-test, test-external

#12371 bots: Distinguish context only when repo is different to PR target
  bots/tests-invoke
Labels: no-test, test-external

#12375 package.json: Update @patternfly/react-console package dependency
  package.json
Labels: bot

#12386 bots: Move contexts map into own file
  bots/task/testmap.py
  bots/tests-scan
Labels: no-test, test-external

#12395 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12394 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12361 Image refresh for fedora-30
  bots/images/fedora-30
Labels: bot, test-external

#12367 Normalize tests invocation
  bots/image-refresh
  bots/task/github.py
  bots/task/testmap.py
  bots/tests-invoke
Labels: no-test, test-external

#12392 machines: do not add a new pool entry into the global state with 'Started' signal
  pkg/machines/libvirt-dbus.js
Labels: needs-rebase

#12397 bots: Fix typo in cockpit-project naming
  bots/tests-invoke
Labels: no-test

#12399 bots: Compare only os and scenario for know contexts
  bots/task/github.py
Labels: no-test, test-external

#12396 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, no-test, test-external

#12403 bots: Add missing tests for rhel-8.1 branch
  bots/task/testmap.py
Labels: no-test, test-external

#12404 bots: Fix rhel-8.1 tests
  bots/task/testmap.py
Labels: no-test, test-external

#12406 bots: add naughty for rhel-8-1 selinux qemu-kvm denial when using tcg
  bots/naughty/rhel-8/12405-selinux-qemu-kvm-tcg
  test/verify/machineslib.py
Labels: test-external

#12407 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external

#12393 machines: disable pxe booting when a user selected session connection
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
  test/verify/machineslib.py
Labels: release-blocker

#12408 Update translations from Fedora Zanata
  po/cs.po
  po/ja.po
  po/uk.po
Labels: bot

#12415 bridge: Handle ENOBUFS in packet channel
  src/bridge/cockpitpacketchannel.c
Labels: release-blocker

#12417 Image refresh for centos-7
  bots/images/centos-7
Labels: bot, test-external

#12419 Image refresh for rhel-7-6
  bots/images/rhel-7-6
Labels: bot, test-external

#12418 Image refresh for rhel-7-7
  bots/images/rhel-7-7
Labels: bot, test-external

#12416 Image refresh for rhel-8-0
  bots/images/rhel-8-0
Labels: bot, test-external

#12428 Image refresh for ubuntu-1804
  bots/images/ubuntu-1804
Labels: bot, test-external

#12435 Image refresh for continuous-atomic
  bots/images/continuous-atomic
Labels: bot, test-external

#12381 services: Do not show `.service` in service overview table
  pkg/systemd/init.js
  pkg/systemd/services.html
  test/selenium/selenium-base.py
  test/verify/check-services
Labels: release-note, unrelated-test-failure

#12434 package.json: Update redux package dependency
  package.json
Labels: bot

#12427 bots: Put ssh control socket into our VM temp dir instead of /tmp
  bots/machine/machine_core/ssh_connection.py
Labels: no-test, test-external

#12436 Image refresh for debian-stable
  bots/images/debian-stable
Labels: bot, test-external

#12444 Image refresh for fedora-29
  bots/images/fedora-29
Labels: bot, test-external

#12446 Image refresh for fedora-atomic
  bots/images/fedora-atomic
Labels: bot, test-external

#12448 Revert "bots: Put ssh control socket into our VM temp dir instead of /tmp"
  bots/machine/machine_core/ssh_connection.py
Labels: no-test, test-external

#12447 Image refresh for ubuntu-stable
  bots/images/ubuntu-stable
Labels: bot, test-external

#12286 containers: use 'podman' or 'sudo docker' in unit-tests scripts
  containers/unit-tests/README.md
  containers/unit-tests/build
  containers/unit-tests/exec
  containers/unit-tests/start
Labels: no-test

#12449 pcp: Test broken archives
  src/bridge/test-pcp-archives.c
Labels: release-blocker

#12459 cockpituous-release: Don't upload to ubuntu ppa
  tools/cockpituous-release
Labels: test-external

#12460 Remove reminder line in webpack configuration for subscriptions page
  webpack.config.js
Labels: no-test

#12462 bots: Fix printing in inspect-queue
  bots/inspect-queue
Labels: no-test, test-external

#12463 Update translations from Fedora Zanata
  po/cs.po
  po/fr.po
  po/ja.po
  po/pl.po
  po/uk.po
  po/zh_CN.po
Labels: bot

#12458 Image refresh for fedora-testing
  bots/images/fedora-testing
Labels: bot, test-external
