Repository cockpit-project/cockpit, pull requests merged in 2020-11, with the labels that each got.

#14848 shell: Implement navigation and host switching in more sensible way
  pkg/shell/base_index.js
  pkg/shell/hosts.jsx
  pkg/shell/indexes.js
  pkg/shell/nav.jsx
Labels: unrelated-test-failure

#14787 shell, dashboard: Edit hosts via the add dialog
  pkg/dashboard/image-editor.js
  pkg/dashboard/index.html
  pkg/dashboard/list.js
  pkg/lib/machine-add.html
  pkg/lib/machine-dialogs.js
  pkg/lib/machines.js
  pkg/shell/hosts.jsx
  pkg/shell/index.html
  test/verify/check-dashboard
  test/verify/check-host-switching
  test/verify/check-multi-machine-key
Labels: release-note

#14863 build: Reduce tar verbosity
  Makefile.am
  containers/unit-tests/run.sh
Labels: unrelated-test-failure

#14887 tests: Accept more IPs in login tests
  test/verify/check-login
Labels: release-blocker

#14882 PF4 Selects in modals are not espaping outside of the modals by default
  pkg/lib/cockpit-components-file-autocomplete.jsx
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
  pkg/systemd/overview-cards/serverTime.js
  test/verify/check-system-info
Labels: release-blocker

#14889 machines: Fix incorrect unit shown in memory row
  pkg/machines/components/create-vm-dialog/createVmDialog.jsx
Labels: release-blocker

#14900 workflows: Add automatic weekly unit-test container refresh
  .github/workflows/unit-tests-refresh.yml
Labels: no-test

#14910 test: add rhel-8-4 and rhel-atomic to README.md
  test/README.md
Labels: no-test

#14906 test: treat fedora-testing similarly to fedora-33
  test/verify/check-login
  test/verify/check-machines
  test/verify/check-networking-bond
  test/verify/check-networking-bridge
  test/verify/check-networking-team
Labels: no-test

#14901 tests: don't rely on a VirtIO disk to exist in storage tests
  test/verify/check-storage-basic
  test/verify/check-storage-format
  test/verify/check-storage-lvm2
  test/verify/check-storage-mdraid
  test/verify/check-storage-multipath
  test/verify/check-storage-nfs
  test/verify/check-storage-partitions
  test/verify/check-storage-raid1
  test/verify/check-storage-unused
  test/verify/check-storage-used
Labels: release-blocker

#14907 Rewrite modal for changing hostname to react and PF4
  pkg/systemd/index.html
  pkg/systemd/overview-cards/configurationCard.jsx
  pkg/systemd/overview.scss
  src/ws/login.js
  test/verify/check-system-info
Labels: unrelated-test-failure

#14926 workflows: Allow manually triggering unit tests
  .github/workflows/unit-tests.yml
Labels: no-test

#14930 test: Always start NetworkManager for NetworkCase tests
  test/verify/netlib.py
Labels: unrelated-test-failure

#14925 test: Accept more versions of "Failed to generate stack trace" messages
  test/common/testlib.py
Labels: unrelated-test-failure

#14929 firewall: Fix oops upon opening zone adding dialog
  pkg/networkmanager/utils.js
Labels: unrelated-test-failure

#14928 terminal: Reconnect channel with 'Reset' button if exited
  pkg/systemd/terminal.jsx
  test/verify/check-terminal
Labels: unrelated-test-failure

#14943 test: Don't disable preload for nonexisting packages
  test/common/testlib.py
Labels: no-test, release-blocker

#14949 test: adapt to new virt-install in debian-testing
  test/verify/check-machines
Labels: no-test, unrelated-test-failure

#14955 machines: when changing the disk's access mode do it in a deterministic way
  pkg/machines/components/diskEdit.jsx
Labels: release-blocker

#14961 workflows: Use cockpituous instead of github token for npm/po updates
  .github/workflows/npm-update.yml
  .github/workflows/po-refresh.yml
Labels: no-test

#14856 motd: show the motd only to admin users
  Makefile.am
  configure.ac
  src/ws/cockpit-tempfiles.conf.in
  src/ws/cockpit.socket.in
  test/verify/check-connection
Labels: release-blocker, release-note, unrelated-test-failure

#14971 workflows: Fix po-refresh token
  .github/workflows/po-refresh.yml
Labels: no-test

#14985 base1: Fix race condition in "watch barrier" D-Bus unit test
  pkg/base1/test-dbus-common.js
Labels: release-blocker
