Repository cockpit-project/cockpit, pull requests merged in 2021-12, with the labels that each got.

#16691 doc: Document how to connect to a non-standard D-Bus with giving an address
  doc/guide/cockpit-dbus.xml
Labels: no-test

#16689 test: Robustify TestCurrentMetrics.testMemory
  test/verify/check-metrics
Labels: flake

#16695 rhel-8-5: Utilize PF4 components for the superuser dialog
  pkg/shell/superuser.jsx
Labels: backport

#16702 flatpak: clean up build scripts
  .github/workflows/flatpak-test.yml
  containers/flatpak/build
  containers/flatpak/install
  containers/flatpak/prepare
  containers/flatpak/update-flathub
Labels: release-blocker, no-test, .github-changes

#16707 flatpak: update desktop file in metainfo
  containers/flatpak/cockpit-client.metainfo.xml.in
Labels: no-test

#16708 workflows: clone flathub repository from flathub
  .github/workflows/update-flathub.yml
Labels: no-test, .github-changes

#16711 fmf: Fix $TEST_OS for centos-9-stream
  test/run-verify-host-user.sh
Labels: no-test

#16731 tests: return true (not undefined) from a filter
  pkg/base1/test-chan.js
Labels: no-test

#16730 unit-tests: Enable -fanalyzer for gcc
  containers/unit-tests/build.sh
Labels: no-test

#16733 fmf: Go back to firefox distro version
  test/run-verify-host.sh
Labels: no-test

#16735 workflows: Add missing apt update to flatpak-test
  .github/workflows/flatpak-test.yml
Labels: no-test, .github-changes

#16692 Metrics spacing
  pkg/metrics/metrics.scss
Labels: enhancement, page:metrics

#16742 test: Fix Firefox CDP driver for version 97 nightlies
  test/common/cdp.py
Labels: no-test

#16741 test: sudo with cert auth now works on RHEL 8.6/C8S
  test/verify/check-system-realms
  test/verify/check-system-s4u
Labels: blocked, no-test

#16745 build: fix `make dist` from tarball
  tools/adjust-distdir-timestamps
Labels: release-blocker, no-test

#16165 partial jumpstart
  tools/webpack-jumpstart
Labels: no-test
