Repository cockpit-project/cockpit, pull requests merged in 2022-11, with the labels that each got.

#17881 containers: fix unit-tests with no submodules
  containers/unit-tests/start
Labels: no-test

#17882 tests: fix periodic test-chan.html failure
  pkg/base1/test-chan.js
Labels: no-test

#17879 Don't set max-width for Patternfly's select
  pkg/lib/patternfly/patternfly-4-overrides.scss
Labels: release-blocker, bug

#17887 fmf: Factorize and merge plan files
  plans/all.fmf
  plans/basic.fmf
  plans/network.fmf
  plans/optional.fmf
Labels: no-test

#17895 workflows: Fix date format for Flathub release
  .github/workflows/release.yml
Labels: no-test, .github-changes

#17892 test: extend timeout for CPU usage going back to idle
  test/verify/check-system-info
Labels: no-test

#17896 flatpak: preserve xml declaration in installed metainfo
  containers/flatpak/Makefile.am
  tools/patch-metainfo
Labels: release-blocker, no-test

#17911 webpack-make: include $(SRCDIR) in stampfile name
  tools/webpack-make
Labels: no-test

#17912 python: add pytest-timeout, set PYTEST_TIMEOUT=120
  containers/unit-tests/setup.sh
  src/Makefile.am
Labels: no-test

#17913 webpack-jumpstart --partial: delete changed webpacks instead of touching changed files
  tools/webpack-jumpstart
Labels: no-test

#17922 test: build a wheel for the pybridge scenario
  .gitignore
  pyproject.toml
  test/run
Labels: no-test

#17919 autogen: Copy automake tools
  autogen.sh
Labels: no-test

#17945 Update redirected urls
  pkg/lib/cockpit-components-modifications.jsx
  pkg/lib/timeformat.js
Labels: no-test

#17948 test: exclude Kpatch on tmt
  test/browser/run-test.sh
Labels: no-test

#17966 test: apply the same workaround for centos-9-stream
  test/verify/check-static-login
Labels: release-blocker, no-test

#17967 pkg: fix document class checking
  pkg/shell/indexes.jsx
Labels: release-blocker
