Repository cockpit-project/cockpit, pull requests merged in 2022-09, with the labels that each got.

#17718 Revert "networking: Update rhel docs"
  pkg/networkmanager/manifest.json
Labels: release-blocker, no-test

#17723 python: remove "dbus_internal" hack
  src/Makefile.am
  src/cockpit/channels/__init__.py
  src/cockpit/channels/dbus.py
  src/cockpit/channels/dbus_internal.py
  src/cockpit/internal_endpoints.py
Labels: no-test

#17729 tools: replace usage of deprecated egrep
  tools/git-utils.sh
Labels: no-test

#17726 login: Use valid selectors when testing for :is() / :where() support.
  pkg/static/login.js
Labels: release-blocker, backport, bug, page:login, backport-to-9.0

#17728 ws: Go back to assuming GChildWatch on mips in test-channelresponse
  src/ws/test-channelresponse.c
Labels: no-test

#17757 python: support ChannelError from AsyncChannel.run()
  src/cockpit/channel.py
Labels: no-test

#17763 build: rip out automated version history
  Makefile.am
  src/client/add-metainfo-releases
  src/client/org.cockpit_project.CockpitClient.metainfo.xml
  tools/adjust-distdir-timestamps
Labels: release-blocker, no-test

#17733 containers: add mypy to the unit-test container
  containers/unit-tests/setup.sh
Labels: no-test
