Repository cockpit-project/cockpit, pull requests merged in 2022-05, with the labels that each got.

#17305 workflows: Prefix node-cache tags with project name
  .github/workflows/release.yml
Labels: no-test, .github-changes

#17333 packit: Fix copr owner
  packit.yaml
Labels: release-blocker, no-test

#17336 containers: Simplify package installation for bastion container
  containers/bastion/install.sh
  containers/bastion/scripts/install-rpms.sh
Labels: no-test

#17345 test: Adjust for rhel-8-7
  test/README.md
  test/verify/check-apps
  test/verify/check-connection
  test/verify/check-metrics
  test/verify/check-packages
  test/verify/check-static-login
  test/verify/check-storage-lvm2
  test/verify/check-storage-partitions
  test/verify/check-storage-resize
  test/verify/check-storage-stratis
  test/verify/check-storage-vdo
  test/verify/check-system-info
  test/verify/check-system-journal
  test/verify/check-system-services
  test/verify/storagelib.py
Labels: no-test

#17351 test: Relax expected D-Bus error message
  test/verify/check-static-login
Labels: release-blocker

#17363 packit: Use upstream tarball for release COPR build
  packit.yaml
Labels: release-blocker, no-test

#17372 git-hook-pre-push: bring back realpath -m
  test/git-hook-pre-push
Labels: no-test

#17379 test: Clean up rhel-8-6 and rhel-8-7-distropkg for storage tests
  test/verify/check-storage-lvm2
  test/verify/check-storage-partitions
  test/verify/check-storage-resize
  test/verify/check-storage-stratis
  test/verify/check-storage-vdo
  test/verify/storagelib.py
Labels: no-test

#17396 test: Get rid of test/containers/run-test
  test/common/run-tests
  test/containers/run-tests
  test/run
Labels: no-test

#17398 containers/ws: Move os-release symlinking into run script
  containers/ws/install.sh
  containers/ws/label-run
Labels: no-test
