Repository cockpit-project/cockpit, pull requests merged in 2022-08, with the labels that each got.

#17603 test: Fix run-tests scheduling with little or no parallelism
  test/common/run-tests
Labels: release-blocker

#17622 client: Support WebKit 4.1 API
  src/client/cockpit-client
Labels: release-blocker, no-test

#17652 test: rawhide is now Fedora-38
  test/browser/run-test.sh
Labels: no-test

#17667 test: make Fedora-37 Fedora-36
  test/browser/run-test.sh
Labels: no-test

#17666 tf: Add hack for sos missing python magic
  test/browser/browser.sh
Labels: no-test

#17686 workflows: Update pot every morning
  .github/workflows/weblate-sync-pot.yml
Labels: no-test

#17687 test: assume motd permissions work on debian-testing
  test/verify/check-connection
Labels: no-test
