Repository cockpit-project/cockpit, pull requests merged in 2022-02, with the labels that each got.

#16885 systemd: display the scheduled reboot/shutdown time
  pkg/systemd/overview-cards/healthCard.jsx
  pkg/systemd/overview-cards/shutdownStatus.jsx
  test/verify/check-system-info
Labels: release-note

#16909 test: Documentation updates
  test/README.md
Labels: no-test

#16922 fmf: Don't install weak firefox dependencies
  test/run-verify-host.sh
Labels: no-test

#16910 github: Change our issue forms to YAML
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: enhancement, .github-changes

#16928 tools: Add missing copyrights for shipped node_modules/
  tools/debian/copyright.template
Labels: no-test

#16931 run-tests code cleanup
  test/common/run-tests
Labels: no-test

#16973 test: Fix race condition with checking out pixel tests
  test/common/testlib.py
  test/run
Labels: flake, no-test

#16984 test: Fix use of f-string
  test/common/testlib.py
Labels: no-test

#16979 TestHistoryMetrics fixes
  test/verify/check-metrics
Labels: flake

#16980 tools: add git-hook-pre-rebase
  HACKING.md
  tools/git-hook-pre-rebase
Labels: no-test

#16989 HACKING: Fix typo in git hook installation
  HACKING.md
Labels: no-test

#17000 test: Factorize and strengthen disabling of virbr0
  test/verify/check-networkmanager-basic
  test/verify/check-networkmanager-bond
  test/verify/check-networkmanager-bridge
  test/verify/check-networkmanager-team
  test/verify/netlib.py
Labels: flake

#17001 test: Restart reportd after installing custom configuration
  test/verify/check-system-journal
Labels: flake, no-test

#17006 cockpituous: Add Fedora 36, drop 34
  tools/cockpituous-release
Labels: release-blocker, no-test

#17008 test: Increase session cleanup hammer size on Fedora 34
  test/common/testlib.py
Labels: flake, no-test

#16961 Revert "cockpit-client: disable and hide forward/back"
  src/client/cockpit-client
  src/client/cockpit-client.ui
Labels: release-blocker, release-note

#17030 users: Call `date` instead of using Date() to parse `lastlog` output
  pkg/users/account-details.js
Labels: release-blocker

#17029 [r7.9] test: Rewrite image-prepare using image-customize
  Makefile.am
  test/common/parent.py
  test/image-prepare
  test/verify/atomiclib.py
  test/vm.install
  tools/cockpit.spec
Labels: backport

#17032 test: Skip TestStoragePackagesNFS.testNfsMissingPackages on arch
  test/verify/check-storage-nfs
Labels: flake, no-test

#17037 cockpituous: Enable bodhi for Fedora 36
  tools/cockpituous-release
Labels: release-blocker, no-test

#17036 networking: Fix return value of CheckpointCreate method - FIX COMMIT MESSAGE ON MERGING
  pkg/networkmanager/interfaces.js
  test/verify/check-networkmanager-checkpoints
Labels: release-blocker

#17038 networking: Fix IP Settings dialog
  pkg/networkmanager/ip-settings.jsx
  test/verify/check-networkmanager-settings
  test/verify/netlib.py
Labels: release-blocker

#17047 tmt: Put back absolute log path for older tmt versions
  test/run-verify-host.sh
Labels: release-blocker, no-test

#17048 test: Put back image-prepare --overlay
  test/image-prepare
Labels: no-test

#17055 fmf: Skip TestPages.testBasic on RHEL 9.0
  test/run-verify-host-user.sh
Labels: no-test
