Repository cockpit-project/cockpit, pull requests merged in 2022-04, with the labels that each got.

#17204 client: install metainfo file
  .github/workflows/flatpak-test.yml
  .gitignore
  Makefile.am
  containers/flatpak/Makefile.am
  containers/flatpak/cockpit-client.yml.in
  containers/flatpak/prepare
  containers/flatpak/update-flathub
  src/client/Makefile.am
  src/client/add-metainfo-releases
  src/client/org.cockpit_project.CockpitClient.metainfo.xml
Labels: .github-changes

#17167 HACKING: Document ./configure paths for cockpit-bridge
  HACKING.md
Labels: no-test

#17195 test: Enable grafana pcp plugin manually
  test/verify/check-metrics
Labels: no-test

#17235 shell: Add entry for Georgian
  pkg/shell/manifest.json
Labels: no-test

#17246 workflows: Restore issues write permissions to reposchutz
  .github/workflows/reposchutz.yml
Labels: release-blocker, no-test

#17248 reposchutz: try again with fixing the permissions
  .github/workflows/reposchutz.yml
Labels: no-test, .github-changes

#17253 Fully automatic npm-update
  .github/deploy-keys.sh
  .github/workflows/npm-update-pf.yml
  .github/workflows/npm-update.yml
Labels: no-test, .github-changes

#17269 test: Drop redundant TestMultiMachine.testFIPS
  test/verify/check-shell-multi-machine
Labels: no-test

#17271 workflows/npm-update{,-pf}.yml: don't force push main
  .github/workflows/npm-update-pf.yml
  .github/workflows/npm-update.yml
Labels: .github-changes

#17275 reposchutz: use fetch-depth: 0
  .github/workflows/reposchutz.yml
Labels: no-test, .github-changes

#17287 logs: Use utility for toolbar wrapping
  pkg/systemd/logs.jsx
  pkg/systemd/logs.scss
Labels: release-blocker

#17292 shell: Don't show "Oops" for silent errors
  pkg/lib/cockpit.js
  pkg/shell/base_index.js
Labels: release-blocker

#17293 packagekit: order kpatches before security updates
  pkg/packagekit/updates.jsx
Labels: release-blocker
