Repository cockpit-project/cockpit, pull requests merged in 2023-11, with the labels that each got.

#19552 fmf: Fix COPR yum repo globbing
  test/browser/browser.sh
Labels: no-test

#19553 test: TEST_OS_DEFAULT is now Fedora-39
  test/README.md
Labels: no-test

#19569 test: Ignore PCP name lookup failure after disk removal
  test/common/storagelib.py
Labels: flake, no-test

#19583 test: Wait for a page load in Browser.open()
  test/common/chromium-cdp-driver.js
  test/common/firefox-cdp-driver.js
  test/common/testlib.py
Labels: flake

#19598 test: Retry `git fetch` in git-utils.sh
  test/common/git-utils.sh
Labels: flake, no-test

#19605 test: Kill processes that keep scsi_debug mounts busy
  test/common/testlib.py
Labels: flake

#19613 tests: increase timeout on testCPUSecurityMitigationsEnable
  test/verify/check-system-info
Labels: flake

#19615 test: Factorize and fix timeout for contacting domain
  test/verify/check-system-realms
Labels: flake

#19647 test: Adjust testClientCertAuthentication to changed loginctl 255 output format
  test/verify/check-static-login
Labels: release-blocker

#19656 test: Use proper TLS CA for subscription-manager
  test/verify/check-packagekit
Labels: unrelated-test-failure
