Repository cockpit-project/cockpit, pull requests merged in 2023-05, with the labels that each got.

#18734 workflows: Move npm-update back to Ubuntu 20.04
  .github/workflows/npm-update-pf.yml
  .github/workflows/npm-update.yml
Labels: no-test, .github-changes

#18735 fmf: Force nodejs 18 on Rawhide
  test/browser/browser.sh
Labels: no-test

#18708 python: Close process stdin when closing SubprocessTransport
  src/cockpit/transports.py
  test/verify/check-reauthorize
  test/verify/check-superuser
Labels: no-test

#18753 Revert "fmf: Force nodejs 18 on Rawhide"
  test/browser/browser.sh
Labels: no-test

#18755 .github: run CodeQL workflow on main as well
  .github/workflows/codeql.yml
Labels: no-test

#18765 Remove duplicate / from submodule url
  .gitmodules
Labels: no-test

#18760 test: Allow "vdo create" to take more time; clean up test skips
  test/verify/check-storage-hidden
  test/verify/check-storage-resize
  test/verify/check-storage-swap
  test/verify/check-storage-vdo
  test/verify/check-ws-bastion
Labels: unrelated-test-failure, flake

#18761 bridge, session: Drop changing umask
  src/bridge/bridge.c
  src/session/session.c
Labels: pybridge-blocker

#18756 test: Handle pixel diffs when size has changed
  test/common/pixeldiff.html
  test/common/testlib.py
Labels: no-test

#18768 test: Use dynamic pybridge detection instead of $TEST_SCENARIO
  test/common/testlib.py
  test/verify/check-packagekit
  test/verify/check-superuser
Labels: pybridge-blocker

#18766 test: Disable preload to stabilize TestPages.testBasic
  test/verify/check-pages
Labels: flake

#18784 tools/git-hook-post-commit: checkout extra files
  test/static-code
  tools/git-hook-post-commit
Labels: no-test

#18788 build: drop support for compile_commands.json
  Makefile.am
  tools/make-compile-commands
Labels: no-test

#18792 test/static-code: don't do eslint in partial trees
  test/static-code
Labels: no-test

#18791 python: Generalize subprocess cleanup, and use TERM instead of HUP
  src/cockpit/channels/stream.py
  src/cockpit/transports.py
Labels: no-test

#18829 test: Allow more time for configuring chrony
  test/verify/check-system-info
Labels: flake

#18840 testlib: Adjust expected pybridge traceback for Fedora 38
  test/common/testlib.py
Labels: flake, no-test

#18817 bridge: Add polkit responder to Python bridge
  src/cockpit/polkit.py
  src/cockpit/polyfills.py
  src/cockpit/superuser.py
  test/verify/check-superuser
Labels: no-test

#18851 test: Remove "dnf-copr" scenario name
  test/run
Labels: no-test
