Repository cockpit-project/cockpit, pull requests merged in 2023-01, with the labels that each got.

#18108 test: Accept insights_client_t SELinux policy
  test/verify/check-selinux
Labels: no-test

#18113 add manifest overrides
  src/cockpit/config.py
  src/cockpit/packages.py
  test/verify/check-apps
  test/verify/check-kdump
  test/verify/check-storage-nfs
  test/verify/check-storage-stratis
Labels: no-test

#18123 test: Use 'python bridge' when skipping tests
  test/verify/check-connection
  test/verify/check-examples
  test/verify/check-packagekit
  test/verify/check-system-services
Labels: no-test

#18072 systemd: add minutely option to create timer modal
  pkg/systemd/services/timer-dialog-helpers.js
  pkg/systemd/services/timer-dialog.jsx
  test/verify/check-system-services
Labels: release-note

#18134 test: Update expected pybridge messages for fedora-37
  test/common/testlib.py
Labels: no-test

#18135 shell: fix proptypes warning in CockpitNav component
  pkg/shell/nav.jsx
Labels: no-test

#18156 pybridge: Don't timeout D-Bus method calls by default
  src/cockpit/channels/dbus.py
  test/verify/check-storage-format
  test/verify/check-superuser
Labels: no-test

#18163 python: Fix D-Bus timeout
  src/cockpit/channels/dbus.py
Labels: no-test

#18165 containers: Make webpack-jumpstart --partial in unit test opportunistic
  containers/unit-tests/start
Labels: no-test

#17796 storage: Checking and fixing system config for NBDE
  pkg/storaged/crypto-keyslots.jsx
  pkg/storaged/manifest.json
  test/common/packagelib.py
  test/common/storagelib.py
  test/verify/check-storage-luks
Labels: release-note, page:storage

#18187 python: metrics: fix rate calculation with 0 values
  src/cockpit/channels/metrics.py
Labels: no-test

#18188 python: Implement closing of spawn channels
  pkg/base1/test-spawn-proc.js
  src/cockpit/channels/stream.py
  test/verify/check-sosreport
Labels: no-test

#18190 webpack-make: include static depends in Makefile
  pkg/build
  tools/webpack-make
Labels: no-test

#18192 DBG - Mark TestJournal.testAbrtReportCancel as stable
  test/verify/check-system-journal
Labels: no-test

#18202 python: Avoid waiting for the child in SubprocessStreamChannel.do_close()
  src/cockpit/channels/stream.py
Labels: release-blocker, no-test

#18205 test: Adjust VDO tests for latest RHEL 9.2 image
  test/verify/check-storage-vdo
Labels: no-test

#18208 test: update references to Fedora-36 to 37
  test/README.md
Labels: no-test

#18193 python: Respect umask in fsreplace1
  pkg/base1/test-file.js
  src/cockpit/channels/filesystem.py
  test/verify/check-shell-keys
  test/verify/check-system-info
Labels: unrelated-test-failure, no-test

#18210 test: Disable partial webpack jumpstart for devel scenario
  test/run
Labels: no-test

#18211 test: Fix testPmProxySettings on arch
  test/verify/check-metrics
Labels: flake

#17877 Move to gnu18 C standard, fail on old C constructs
  src/Makefile.am
Labels: no-test

#18209 base1: Port test-file.js QUnit tests to async functions
  pkg/base1/test-file.js
Labels: no-test

#18032 Show service logs for user services
  pkg/systemd/logDetails.jsx
  pkg/systemd/logsHelpers.js
  pkg/systemd/services/service.jsx
  test/browser/run-test.sh
  test/verify/check-system-services
Labels: release-note, page:services

#18213 selinux: Fix React crash on API/CLI errors
  pkg/selinux/setroubleshoot.js
  test/verify/check-selinux
Labels: flake

#18227 python: add cockpit.print helper module
  src/cockpit/print.py
Labels: no-test

#18226 nav: fix toggling of the system dropdown
  pkg/shell/nav.jsx
Labels: release-blocker

#18201 tests: fix testFirewall.testServices pixel test flakiness on RTL screenshot
  test/common/testlib.py
Labels: no-test

#18235 test: Drop obsolete pybridge expected log messages
  test/common/testlib.py
Labels: no-test

#18233 python: correctly log possible None value
  src/cockpit/channels/filesystem.py
Labels: no-test

#18232 shell: unset 'active' state also when closing the menu by clicking on the same iframe
  pkg/shell/nav.jsx
Labels: release-blocker

#18250 test: Put back another pybridge crash message
  test/common/testlib.py
Labels: no-test

#18252 test: Fix session cleanup for rawhide
  test/common/testlib.py
Labels: release-blocker, flake

#18265 build: add tools/make-wheel
  test/image-prepare
  tools/make-wheel
Labels: no-test

#18264 python: Get values of invalidated D-Bus properties
  src/cockpit/channels/dbus.py
  test/verify/check-storage-stratis
Labels: no-test
