Repository cockpit-project/cockpit, pull requests merged in 2023-10, with the labels that each got.

#19422 lib: make Ansible role the first tab
  pkg/lib/cockpit-components-modifications.jsx
  test/verify/check-selinux
Labels: no-test

#19428 test: Fix firewall-cmd output parsing for firewalld 2.0.1
  test/verify/check-networkmanager-firewall
Labels: release-blocker

#19432 .github: add kdump as page section for bug reports
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: no-test, .github-changes

#19451 dependabot: Run in our evenings, reduce limit
  .github/dependabot.yml
Labels: no-test, .github-changes

#19460 workflows: Trigger anaconda test on bridge/storaged changes
  .github/workflows/trigger-anaconda.yml
Labels: no-test, .github-changes

#19470 test: Fix pytest race in test_spawn_broken_pipe()
  test/pytest/test_peer.py
Labels: release-blocker

#19477 test: udisks has CanResize everywhere now
  pkg/storaged/client.js
Labels: unrelated-test-failure

#19486 shell: Fix crash on uninitialized superuser proxy Bridges
  pkg/shell/superuser.jsx
Labels: release-blocker

#19490 doc: don't escape " when not required
  doc/guide/Makefile-guide.am
Labels: no-test

#19488 testlib: fix some of our testlib typing
  test/common/testlib.py
Labels: no-test

#19492 test: Replace .format() with f-strings
  test/common/netlib.py
  test/common/packagelib.py
  test/common/storagelib.py
  test/verify/check-packagekit
Labels: release-blocker

#19522 test: Relax boot timer check in TestServices.testTimerSession
  test/verify/check-system-services
Labels: release-blocker, flake

#19531 test: Define stop_type_opt in TestStorageStratisNBDE
  test/verify/check-storage-stratis
Labels: release-blocker

#19534 workflows: drop pybridge-c8s.yml
  .github/workflows/pybridge-c8s.yml
Labels: no-test, .github-changes

#19537 lib: Drop unknown noVerticalAlign property from HelpIcon
  pkg/lib/cockpit-components-password.jsx
Labels: no-test

#19538 test: apply eslint to .js files as well
  test/static-code
  tools/webpack-make.js
Labels: no-test

#19541 test: Drop updates-testing-modular repo
  test/run
Labels: no-test

#19546 test: don't install weak dependencies for updatest-testing scenario
  test/run
Labels: no-test

#19547 fmf: Hack around Testing Farm's tag-repository priority
  test/browser/browser.sh
Labels: no-test

#19551 fmf: Fix prioritization of our main-builds COPR
  test/browser/browser.sh
Labels: no-test
