Repository cockpit-project/cockpit, pull requests merged in 2023-12, with the labels that each got.

#19687 fmf: Add missing cockpit-pcp test dep for /optional plan
  test/browser/main.fmf
Labels: no-test

#19707 test: Adjust method name in #18355 message ignoring
  test/common/testlib.py
Labels: flake, no-test

#19737 storage: Give all top-level rows an icon
  pkg/storaged/block/other.jsx
  pkg/storaged/icons/gnome-icons.jsx
Labels: release-blocker

#19744 fmf: Skip TestStorageLvm2.testRaidRepair on Rawhide
  test/browser/run-test.sh
Labels: no-test

#19755 tests: Fix check-users races
  test/verify/check-users
Labels: flake

#19790 ssh: Use valid host name in test-sshbridge
  src/ssh/test-sshbridge.c
Labels: release-blocker
