Repository cockpit-project/cockpit, pull requests merged in 2023-08, with the labels that each got.

#19155 fmf: Run cockpit-podman tests on current Fedora
  packit.yaml
  plans/all.fmf
  plans/podman.fmf
Labels: no-test

#19161 packit: Build COPR for main commits
  packit.yaml
Labels: no-test

#19168 fmf: Declare our own dependencies
  test/browser/main.fmf
Labels: no-test

#19175 test: rename parallel/serial tests to (non)destructive tests
  test/common/run-tests
  test/common/testlib.py
  test/verify/check-testlib
Labels: no-test

#19178 test: expand the pixel tests section
  test/README.md
Labels: no-test

#19188 ws: Drop empty cockpit.service.d directory
  src/ws/Makefile-ws.am
Labels: release-blocker

#19166 Exclude pkg lib coverage projects
  test/common/lcov.py
Labels: no-test

#19194 test: add pytest for fsread1 max_read_size validation
  test/pytest/mocktransport.py
  test/pytest/test_bridge.py
Labels: no-test

#19224 test: Increase timeout for stratis pool unlocking
  test/verify/check-storage-stratis
Labels: flake, no-test

#19225 tools: Drop obsolete valgrind suppressions
  tools/gnutls.supp
  tools/libssh.supp
  tools/polkit.supp
Labels: no-test

#19227 bridge: Drop unused num_ops in disk samples
  src/bridge/cockpitdisksamples.c
Labels: no-test

#18423 .github: scan JavaScript code with codeql
  .github/workflows/codeql.yml
Labels: no-test, .github-changes

#19229 packit: Add Fedora 39, drop Fedora 37
  packit.yaml
Labels: no-test

#19232 tools: Fix building Debian source package after binary build
  tools/debian/clean
  tools/debian/source/options
Labels: unrelated-test-failure

#19247 fmf: Plumb through $TEST_* variables for unexpected messages
  plans/all.fmf
  test/browser/browser.sh
  test/browser/run-test.sh
Labels: no-test

#19249 containers/ws: Move to Fedora 38
  containers/ws/Dockerfile
Labels: no-test

#19250 lib: Fix a dropdown being hidden by a card
  pkg/lib/patternfly/patternfly-5-overrides.scss
Labels: release-blocker

#19255 test: Ignore "invalid non-UTF8 @data passed" message
  test/common/testlib.py
Labels: flake, no-test
