Repository cockpit-project/cockpit, pull requests merged in 2023-04, with the labels that each got.

#18588 ci: trigger differential-shellcheck workflow on push
  .github/workflows/differential-shellcheck.yml
Labels: no-test, .github-changes

#18601 test: Robustify sos tar reading
  test/verify/check-sosreport
Labels: release-blocker, flake

#18602 packit: Enable tests on aarch64
  packit.yaml
Labels: no-test

#18604 lib: cockpit-po-plugin: make source directory a configuration option
  pkg/lib/cockpit-po-plugin.js
Labels: no-test

#18606 lib: file-autocomplete: Fix descend into directory
  pkg/lib/cockpit-components-file-autocomplete.jsx
  test/verify/check-pages
Labels: release-blocker

#18608 test: add test/image-prepare --env and --debug
  test/image-prepare
Labels: no-test

#18611 run-tests: Fix test EXCLUDE to cover centos-8
  test/browser/run-test.sh
Labels: no-test

#18615 packit: Re-add post-upstream-clone to copr_build
  packit.yaml
Labels: release-blocker, no-test

#18639 test: Ignore timedatex.service disconnection messages
  test/common/testlib.py
Labels: flake, no-test

#18659 python: don't process kill messages on closing channels
  src/cockpit/channel.py
Labels: no-test

#18660 build: fix source map generation
  build.js
Labels: no-test

#18670 selinux: Fix error reporting
  pkg/selinux/setroubleshoot-client.js
Labels: flake

#18678 test: Reset insights-client after TestSystemInfo.testInsightsStatus
  test/verify/check-system-info
Labels: flake, no-test

#18684 Fix TestConnection.testCockpitDesktop for pybridge
  test/image-prepare
  test/verify/check-connection
Labels: flake, no-test

#18720 workflows: Move reposchutz back to Ubuntu 20.04
  .github/workflows/reposchutz.yml
Labels: no-test, .github-changes

#18715 test: Link @todoPybridge to issues
  test/verify/check-shell-multi-machine
  test/verify/check-shell-multi-machine-key
  test/verify/check-superuser
  test/verify/check-system-realms
Labels: no-test

#18726 test: Drop unnecessary leave/enter page
  test/verify/check-superuser
Labels: no-test
