Repository cockpit-project/cockpit, pull requests merged in 2024-11, with the labels that each got.

#21223 Two rhel-8 ws container scenario fixes
  test/verify/check-static-login
Labels: no-test

#21250 test: Fix coverage report for pkg/lib
  test/common/lcov.py
Labels: no-test

#21233 test: Add support for querying shadow DOM
  test/common/test-functions.js
Labels: no-test

#21287 test: Avoid scrolling race with session menu
  test/common/testlib.py
Labels: flake

#21293 test: bridge: extend fsreplace1 tests
  test/pytest/test_bridge.py
Labels: no-test

#21303 test: Adapt to new Grafana
  test/verify/check-metrics
Labels: no-test

#21307 doc: enable python bridge related package documentation
  doc/guide/packages.xml
Labels: no-test

#21316 [rhel-8] test: Adapt to new Grafana
  test/verify/check-metrics
Labels: backport

#21321 cockpit.js: Put back cockpit.{resolve,reject}
  pkg/lib/cockpit.js
Labels: release-blocker, no-test

#21342 test: correct add_machine password argument typing
  test/common/testlib.py
Labels: no-test
