Repository cockpit-project/cockpit, pull requests merged in 2024-10, with the labels that each got.

#21058 Drop remaining libssh references
  .github/workflows/codeql.yml
  doc/guide/feature-machines.xml
  selinux/cockpit.te
  src/common/preload-temp-home.c
  tools/arch/PKGBUILD
Labels: .github-changes

#21042 containers/ws: Enable beibooting and install standard cockpit pages
  containers/ws/README.md
  containers/ws/cockpit-auth-ssh-key
  containers/ws/install.sh
  test/ostree.install
  test/verify/check-ws-bastion
Labels: no-test, release-note

#21060 testlib: add F2 key
  test/common/testlib.py
Labels: no-test

#21106 Revert "containers/ws: Rename Dockerfile to Containerfile"
  containers/ws/Dockerfile
Labels: no-test

#21136 systemd: update unit-file.h link
  pkg/systemd/services.jsx
Labels: no-test

#21132 bridge: Report PID for a spawn stream channel
  doc/protocol.md
  src/cockpit/channel.py
  src/cockpit/channels/stream.py
  test/pytest/test_bridge.py
Labels: release-blocker

#21179 test: Skip more LUKS tests on rhel-8-10
  test/verify/check-storage-luks
  test/verify/check-storage-mounting
  test/verify/check-storage-swap
Labels: no-test

#21186 test: Enable history metrics tests on RHEL 8
  test/verify/check-metrics
  test/verify/check-pages
Labels: no-test

#21185 [rhel8] test: handle installed python3-pcp in metrics test
  test/verify/check-metrics
Labels: backport

#21189 test: Increase DHCP machine RAM for network tests
  test/verify/check-networkmanager-bond
  test/verify/check-networkmanager-mac
  test/verify/check-networkmanager-mtu
  test/verify/check-networkmanager-settings
Labels: no-test

#21192 test: Make ostree/ws container preparation run offline
  test/image-prepare
Labels: no-test
