Repository cockpit-project/cockpit, pull requests merged in 2024-12, with the labels that each got.

#21363 test: Adjust vm.updates-testing to dnf5
  test/vm.updates-testing
Labels: no-test

#21360 containers/ws: Move to Fedora 41
  containers/ws/Dockerfile
Labels: no-test

#21385 test: Move typecheck to common/
  test/common/typecheck
  test/static-code
Labels: no-test

#21388 test: Adjust project root path for moved static-code
  test/common/static-code
Labels: no-test

#21403 dependabot: Don't update major React version
  .github/dependabot.yml
Labels: no-test, .github-changes

#21397 tools: Move cockpit-tests conflict to cockpit-ws
  tools/cockpit.spec
  tools/debian/control
Labels: no-test

#21387 test: typecheck: output stats of TS errors for JavaScript files
  test/common/typecheck
Labels: no-test

#21409 dependabot: Ignore all sass 1.x versions
  .github/dependabot.yml
Labels: no-test, .github-changes

#21202 containers/ws: Support using an external SSH agent
  containers/ws/README.md
  containers/ws/label-run
  test/verify/check-ws-bastion
Labels: release-note

#21448 containers/ws: Fix build on Fedora 41
  containers/ws/install.sh
Labels: no-test

#21444 metrics: show system boots in metrics
  pkg/metrics/metrics.jsx
  test/verify/check-metrics
Labels: release-note

#21456 containers/ws: Clean /var/cache/libdnf5
  containers/ws/install.sh
Labels: no-test
