Repository cockpit-project/cockpit, pull requests merged in 2025-05, with the labels that each got.

#21975 test: Re-enable FreeIPA, sssd, and pcp tests on debian-testing
  test/verify/check-metrics
  test/verify/check-pages
  test/verify/check-static-login
  test/verify/check-storage-swap
  test/verify/check-system-realms
Labels: no-test

#21967 storage: use StorageBarMenu in SMART card
  pkg/storaged/drive/smart-details.jsx
  pkg/storaged/storage-controls.jsx
Labels: release-blocker

#21941 release: Automatically create flathub PR
  .github/workflows/release.yml
Labels: no-test, .github-changes

#21697 Add SMART status to overview page
  pkg/systemd/overview-cards/healthCard.tsx
  pkg/systemd/overview-cards/smart-status.jsx
  test/verify/check-storage-smart
Labels: release-note

#22004 test: enable wireguard tests on centos/rhel-10
  test/verify/check-networkmanager-wireguard
Labels: no-test

#22018 test: Relax "cat" executable assumption for current Ubuntu
  test/pytest/test_bridge.py
Labels: no-test

#21969 Provide cockpit/ws image for arm64
  .github/workflows/build-ws-container.yml
  containers/ws/release.sh
Labels: no-test, .github-changes

#22031 bridge: Support packageless session on Debian 13 "trixie"
  src/cockpit/osinfo.py
Labels: release-blocker, no-test

#22032 metrics: use valkey on archlinux
  pkg/metrics/manifest.json
  test/verify/check-metrics
Labels: no-test

#22036 ci: Add quay.io environment to build ws container
  .github/workflows/build-ws-container.yml
Labels: .github-changes

#22035 flathub: Add `GH_TOKEN` for auto-PR creation
  .github/workflows/release.yml
Labels: .github-changes

#22037 github: drop quay secrets in build step
  .github/workflows/build-ws-container.yml
Labels: no-test, .github-changes

#22047 infra: test/common/make-bots: override GITHUB_BASE
  test/common/make-bots
Labels: no-test
