Repository cockpit-project/cockpit, pull requests merged in 2025-02, with the labels that each got.

#21578 packit: Add Fedora 42, drop 40
  packit.yaml
Labels: release-blocker, no-test

#21580 base1: fix deprecated qunit long test without a timeout
  pkg/base1/test-http.js
Labels: no-test

#21590 workflows: Regularly mirror docker.io/bitnami/grafana
  .github/workflows/docker-mirors.yml
Labels: no-test, .github-changes

#21591 packit: Re-disable Fedora 42
  packit.yaml
Labels: no-test

#21597 test: enable tuned tests on Arch Linux
  test/verify/check-system-tuned
Labels: no-test

#21606 tls: Stop hardcoding 2048 bit RSA key length
  src/tls/cockpit-certificate-helper.in
Labels: release-blocker

#21609 test: Re-disable Firefox BiDi async events
  test/common/webdriver_bidi.py
Labels: no-test

#21612 test: Configure Firefox BiDi logging
  test/common/webdriver_bidi.py
Labels: no-test

#21646 flatpak: Enable screenshots URL mirror
  containers/flatpak/install
Labels: no-test

#21633 base1: extend dirname test cases with relative paths
  pkg/base1/test-path.ts
Labels: no-test

#21637 lib: update PF expand animation issue
  pkg/lib/cockpit-components-listing-panel.scss
Labels: no-test
