Repository cockpit-project/cockpit, pull requests merged in 2025-04, with the labels that each got.

#21864 tests: skip stratis tests on archlinux
  test/verify/check-storage-anaconda
  test/verify/check-storage-stratis
Labels: no-test

#21912 lib: use `never` for incompatible options
  pkg/lib/cockpit.d.ts
Labels: no-test

#21921 test: workaround testPrivateKeys pixel test flake
  test/verify/check-shell-keys
Labels: no-test

#21825 shell: Use PF utility for hiding the skip link (to fix RTL)
  pkg/lib/patternfly/patternfly-6-overrides.scss
  pkg/shell/nav.scss
  pkg/shell/shell.tsx
  test/verify/check-shell-menu
Labels: release-blocker

#21955 issues: Improve New issue dropdown
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/enhancement.md
  .github/ISSUE_TEMPLATE/enhancement.yml
Labels: no-test, .github-changes

#21843 test: Skip pixel tests & node modules tag signing
  test/common/pixel-tests
  tools/node-modules
Labels: no-test

#21959 Deprecate more cockpit object functions
  doc/guide/cockpit-dbus.xml
  pkg/lib/cockpit.js
Labels: no-test
