Repository cockpit-project/cockpit, pull requests merged in 2025-07, with the labels that each got.

#22156 test: Fix TestWsBastionContainer for current passt version
  test/verify/check-ws-bastion
Labels: no-test

#22173 packagekit: document dnf5's lack of machine readable api
  pkg/packagekit/updates.jsx
Labels: no-test

#22138 test: make pixel tolerance configurable in pixel tests
  test/common/testlib.py
  test/verify/check-metrics
Labels: no-test

#22179 workflows: Fix latest tag checkout in build-ws-container
  .github/workflows/build-ws-container.yml
Labels: no-test, .github-changes

#22183 test: Stop assuming user systemd-exit.service never runs
  test/verify/check-system-services
Labels: flake

#22204 test: Stabilize TestHistoryMetrics.testEvents pixel test
  test/verify/check-metrics
Labels: no-test

#22207 test: support testing against systemd's main repository
  test/run
  test/vm.systemd-main
Labels: no-test

#22220 pyproject.toml: rename rule TCH -> TH
  pyproject.toml
Labels: no-test

#22240 storaged: update gnu.org url to https
  pkg/storaged/drive/smart-details.jsx
Labels: no-test

#22261 test: Enable most PackageKit tests on arch
  test/verify/check-apps
  test/verify/check-packagekit
Labels: no-test
